<div class="mainVideoSection-fleshMessage" style="display: block;">
    <div class="whiteBodyBox">
        {{i18n "sessions.show.messages.ls_ended"}}
        <br/>
        {{#if (gte recorded_purchase_price 0)}}
            {{i18n "sessions.show.messages.check_replay_later"}}
        {{/if}}
    </div>
</div>
