- if @offset.zero?
  $('#streamsArea .streams').html('');

$('#streamsArea .streams').append("#{escape_javascript(render(partial: 'shared/tiles/session', collection: @streams, locals: {custom_class: 'col-md-4 padding-right-0'}))}");
:plain
  window.initializeDateTimes();
  $('#streamsArea a[data-remote]').css('visibility', 'visible');
  $.each($('section.tile-cake'), function(){
    var imgOBJ, imgOBJItem, itemattr;
    imgOBJ = $(this).find('.owl-lazy');
    imgOBJItem = $(imgOBJ).get(0);
    if(!!$(imgOBJItem).attr('data-src')){
      itemattr = $(imgOBJItem).attr('data-src');
      $(imgOBJItem).removeAttr('data-src');
      $(imgOBJItem).css({ 'background-image': "url('" + itemattr + "')", 'opacity': 1 });
    }
  })
- if @total_pages == @current_page
  $('#streamsArea .show_more').remove();
- elsif @query.present?
  $('#streamsArea .show_more a').attr('href', "#{streams_channel_path(@channel, query: @query, limit: @limit, offset: (@offset + @limit)).html_safe}");
- else
  $('#streamsArea .show_more a').attr('href', "#{streams_channel_path(@channel, limit: @limit, offset: (@offset + @limit)).html_safe}");
