%p Hi #{@user.public_display_name}.
%p
  You're all set to start earning commissions from #{@list.name}!
  Your commissionable product links can be found under your dashboard/products/#{@list.name}.
  Click on the Master List and extract the links you want.
%p Happy Streaming!