- content_for(:extra_body_classes, "dashboards-product_lists header-top")
.row
  .col-md-3
    sidebar
  .col-md-9
    .pr_list_wrapp
      .row.padding-left-30.padding-bottom-10
        .col-md-6.clearfix
          %a.btn.btn-m.col-xs-12{href:'#',onclick:'$(".pr_list_wrapp, .pr_new-or-edit").toggleClass("hide");'} New List
        .col-md-6.text-right.fs-12.padding-top-5
          Sort by
          %select.styled-select.styled-select_withCss.btn.btn-s.btn-borderred-grey.fs-12
            %option Newest
            %option Newest
            %option Newest
      .pr_list
        .pr
          .pr-number
            1
          .pr-body
            .pr-image{style: 'background-image:url(http://lorempixel.com/400/400/)'}
            .pr-info
              %span 12.07.2017
              %p I have no idea who would buy this sh*t
            .pr-count
              %span Items
              %p 100
            .pr-buttons
              %a{href:'#', title:'Link'}
                %i.VideoClientIcon-linkF
              %a{href:'#', title:'Share'}
                %i.VideoClientIcon-share
              %a{href:'#', title:'Edit', 'data-target':'#edit_product',  'data-toggle':'modal'}
                %i.VideoClientIcon-pencilF
              %a.text-red-hover{href:'#', title:'Remove'}
                %i.VideoClientIcon-iPlus.rotateIcon
        .pr
          .pr-number
            2
          .pr-body
            .pr-image{style: 'background-image:url(http://lorempixel.com/400/400/)'}
            .pr-info
              %span 12.07.2017
              %p I have no idea who would buy this sh*t
            .pr-count
              %span Items
              %p 100
            .pr-buttons
              %a{href:'#', title:'Link'}
                %i.VideoClientIcon-linkF
              %a{href:'#', title:'Share'}
                %i.VideoClientIcon-share
              %a{href:'#', title:'Edit', 'data-target':'#edit_product',  'data-toggle':'modal'}
                %i.VideoClientIcon-pencilF
              %a.text-red-hover{href:'#', title:'Remove'}
                %i.VideoClientIcon-iPlus.rotateIcon
        .pr
          .pr-number
            3
          .pr-body
            .pr-image{style: 'background-image:url(http://lorempixel.com/400/400/)'}
            .pr-info
              %span 12.07.2017
              %p I have no idea who would buy this sh*t
            .pr-count
              %span Items
              %p 100
            .pr-buttons
              %a{href:'#', title:'Link'}
                %i.VideoClientIcon-linkF
              %a{href:'#', title:'Share'}
                %i.VideoClientIcon-share
              %a{href:'#', title:'Edit', 'data-target':'#edit_product',  'data-toggle':'modal'}
                %i.VideoClientIcon-pencilF
              %a.text-red-hover{href:'#', title:'Remove'}
                %i.VideoClientIcon-iPlus.rotateIcon
    .pr_new-or-edit.hide
      .pr_new-or-edit-head.text-color-main.fs-16
        %a.btn.btn-m.pull-right{href:'#'} Save
        Edit List
      .pr_new-or-edit-body
        .form_V2
          %form
            .input-block.state-clear.required
              %label List Name
              %input{type:'text'}
              .errorContainerWrapp
                .errorContainer error text
            .input-block.state-clear
              %label Description
              %textarea{rows:'1'}
              .infoContainerWrapp
                Minimum 24 characters
              .errorContainerWrapp
                .errorContainer error text
              .counter_block 0/2000
        .info-tabs
          %ul.nav.nav-tabs.nav-justified
            %li.active
              %a{href:'#ImportViaURL', "data-toggle":"tab"} Import via URL
            %li
              %a{href:'#AddManually', "data-toggle":"tab"} Add Manually
            %li
              %a{href:'#ImportViaBarcode', "data-toggle":"tab"} Import via Barcode
          .tab-content.padding-left-0.padding-right-0.padding-bottom-50
            #ImportViaURL.tab-pane.active
              %form
                .row.form_V2.clearfix
                  .col-sm-10
                    .input-block.state-clear.required
                      %label Add URL
                      %input{type:'text'}
                      .errorContainerWrapp
                        .errorContainer error text
                  .col-sm-2.Fetch_wrapp.padding-left-0
                    %a.full-width.btn.btn-m.btn-grey-solid{href:'#'} Fetch

            #AddManually.AddManually.tab-pane
              %form
                .row.form_V2.clearfix
                  .col-md-4
                    %label.product-image{style: 'background-image:url(http://lorempixel.com/400/400/)'}
                      %span
                        %input.inputfile.hidden{name:"", :type => "file"}
                        Image
                        %br/
                        (click to upload)
                  .col-md-8
                    .input-block.state-clear.required
                      %label Product URL
                      %input{type:'text'}
                      .errorContainerWrapp
                        .errorContainer error text
                    .input-block.state-clear.required
                      %label Product Name
                      %input{type:'text'}
                      .errorContainerWrapp
                        .errorContainer error text
                    .input-block.state-clear.required
                      %label Description
                      %input{type:'text'}
                      .infoContainerWrapp
                        Minimum 24 characters
                      .counter_block 0/2000
                      .errorContainerWrapp
                        .errorContainer error text
                    .priceSection.clearfix
                      Price*
                      %input.btn.btn-s.btn-borderred-grey.pull-right{type:"text", value:'0.00'}
                    .input-block.state-clear.required
                      %label Other info
                      %input{type:'text'}
                      .infoContainerWrapp
                        Minimum 24 characters
                      .counter_block 0/2000
                      .errorContainerWrapp
                        .errorContainer error text
                .clearfix.text-right
                  %a.btn.btn-l.btn-grey-solid.btn-red-hover Cancel
                  %a.btn.btn-l.margin-left-10 Add Product
            #ImportViaBarcode.tab-pane
              %form
                .row.form_V2.clearfix
                  .col-sm-10
                    .input-block.state-clear.required
                      %label Add Barcode
                      %input{type:'text'}
                      .errorContainerWrapp
                        .errorContainer error text
                  .col-sm-2.Fetch_wrapp.padding-left-0
                    %a.full-width.btn.btn-m.btn-grey-solid{href:'#'} Add



          .products-item-list
            .row
              .col-md-6
                Added Products (6)
              .col-md-6.text-right.fs-12
                Sort by
                %select.styled-select.styled-select_withCss.btn.btn-s.btn-borderred-grey.fs-12
                  %option Newest
                  %option Newest
                  %option Newest
            .row
              .col-xs-6.col-sm-4.col-md-4.productTileContainer
                .productTile
                  .productTile_image_wrapp
                    %a.productTile_remove{href:'#', title:'Remove product'}
                      %i.VideoClientIcon-iPlus.rotateIcon
                    %img{class:'productTile_image', src:'http://lorempixel.com/400/400/', alt:''}
                    .afiliateMarker{title:"Congrats! This cool product is ready to make money"} $
                  .productTile_name Product Name Goes here on this two lines
                  .productTile_footer.clearfix
                    .fs-12.text-ellipsis.text-color-LightGrey.padding-bottom-5 Other filters like size, color, etc...
                    %a.productTile_edit.text-color-main.fs-12.pull-left{href:'#'} Edit Product
                    .productTile_cost.btn.btn-s.pull-right $12.99
#edit_product.modal.fade{"aria-hidden":"true", role:"dialog", tabindex:"-1"}
  .modal-dialog
    %a.close_modal{data: {dismiss: :modal}}
      %i.VideoClientIcon-iPlus
    .modal-content
      .modal-body
        %h4.groupTitle.clearfix
          Edit product
        %section
          %form
            .row.form_V2.clearfix.AddManually
              .col-md-4
                %label.product-image{style: 'background-image:url(http://lorempixel.com/400/400/)'}
                  %span
                    %input.inputfile.hidden{name:"", :type => "file"}
                    Image
                    %br/
                    (click to upload)
              .col-md-8
                .input-block.state-clear.required
                  %label Product URL
                  %input{type:'text'}
                  .errorContainerWrapp
                    .errorContainer error text
                .input-block.state-clear.required
                  %label Product Name
                  %input{type:'text'}
                  .errorContainerWrapp
                    .errorContainer error text
                .input-block.state-clear.required
                  %label Description
                  %input{type:'text'}
                  .infoContainerWrapp
                    Minimum 24 characters
                  .counter_block 0/2000
                  .errorContainerWrapp
                    .errorContainer error text
                .priceSection.clearfix
                  Price*
                  %input.btn.btn-s.btn-borderred-grey.pull-right{type:"text", value:'0.00'}
                .input-block.state-clear.required
                  %label Other info
                  %input{type:'text'}
                  .infoContainerWrapp
                    Minimum 24 characters
                  .counter_block 0/2000
                  .errorContainerWrapp
                    .errorContainer error text
    .text-right.padding-top-10
      %a.btn.btn-l.margin-left-10 Save Product
      %a.btn.btn-l.btn-grey-solid.btn-red-hover{data: {dismiss: :modal}} Cancel

- content_for(:after_include_javascripts) do
  :javascript
    $(document).ready(function() {
    // animation script start
      $(".pr").hover(
        function () {
          $(this).addClass('mouseover');
        },
        function () {
          $(this).removeClass('mouseover');
          $(this).addClass('mouseout');
          setTimeout(function() {
               $(".pr").removeClass("mouseout");
           }, 910);
        }
      );
    // animation script end

    })