[Unit]
Description=config-1 server of the cluster
Requires=mongodb.service

[Service]
ExecStart=/opt/bitnami/mongodb/bin/config-1.sh
Type=forking
PIDFile=/opt/bitnami/mongodb/tmp/mongodb-config-1.pid
LimitNOFILE=64000
LimitNPROC=64000
