@import "../../../../mixin";
.productName{
  a.dropdown-toggle{
    width: 12px;
  }
  padding-bottom: 5px;
}
#list_form_area{
  form.list_form{
    padding-bottom: 10px;
    .btn{
      min-width: 100px;
    }
    section{
      @include boxShadow__main(var(--sh__main));
      background: var(--bg__content);
      padding:5px 20px 10px;
    }
    .clearfix input{
      border: 1px solid var(--btn__main);
    }

  }
  .pr_new-or-edit-body{
    & > .products-item-list{
      padding: 15px 20px 10px;
      @include boxShadow__main(var(--sh__main));
      background: var(--bg__content);
    }

  }
}
.ApplyFilters{
  margin-left: 10px;
}
.Fetch_wrapp{
  padding-top: 12px;
}
.pr_new-or-edit-head{
  padding-bottom: 13px;
}
.pr_new-or-edit-body{
  .info-tabs{
    padding-top: 26px;
    .tab-content{
      padding-top: 0;
    }
  }
}
.products-item-list .dropdown-menu{
  min-width: auto;
  text-align: left;
}
.AddManually{
  .product-image{
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-size:cover ;
    background-position: center center;
    background-color: #e2e7ea;
    cursor: pointer;
    span{
      position: absolute;
      text-align: center;
      padding: 10% 0%;
      width: 50%;
      top: 50%;
      left: 25%;
      background: rgba(177, 182, 185, 0.3);
      color: #fff;
      transform: translateY(-50%);
      border-radius: 8px;
      @include transition200();
    }
    &:hover{
      span{
        background: rgba(177, 182, 185, 0.6);
      }
    }
  }
  .ImgRecomendation{
    display: none;
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      display: block;
    }
  }
  .priceSection{
    padding: 35px 0 5px;
    color: var(--tp__main);
    font-size: 16px;
    input{
      width: 70px;
      background: transparent;
      &:hover{
        background: transparent;
      }
    }
  }
}
.form_V2.AddManually .input-block{
  textarea{
    min-height: 12rem;
    max-height: 12rem;
  }
}

.listFilters-h{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 20px;
  input{
    width: 100%;
    border-bottom: 1px solid $siteColorMainLightGrey;
  }
  .moreFilters{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    & > *{
      width: 90px;
      min-width: 90px;
      text-align: center;
      height: 20px;
      padding-left:0 ;
      padding-right: 0;
    }
    & > a{
      height: 19px;
    }
  }
}
.bottomSortLine{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $siteColorMainLightGrey;
  padding-bottom: 10px;
  margin-bottom: 10px;
  a.active {
    color: $siteColorMain;
  }
  #product_options{
    width: calc(100% - 250px);
    a{
      font-size: 14px;
      padding-top: 3px;
      margin-right: 20px;
      i{
        margin-right: 10px;
      }
    }
  }
}
.listFilters-b{
  min-height: 30px;

}

.listFilters-item{
  span.btn{
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
    vertical-align: top;
    a{
      position: absolute;
      right: 3px;
      top: 0px;
      i{
        font-size: 11px;
      }
    }
  }
  .dropdown-menu{
    min-width: 40vw;
    right: auto;
    left: 0;
    li{
      display: inline-block;
      width: calc(25% - 2px);
    }
    @include media(tablet){
      width: 80vw;
      li{
        width: calc(33% - 2px);
      }
    }
    @include media(phone){
      width: 80vw;
      li{
        width: calc(50% - 2px);
      }
    }
  }
}

.minMaxPrice{
  margin-bottom: 10px;
  input{
    @include btn-mod-BG-and-borders(transperant, $siteColorMainLightGrey);
    @include btn-mod();
    text-align: center;
  }
}
#ProductListModal{
  ol{
    list-style-position: inside;
    padding: 0px;
  }
  li{
    border-top: 1px solid var(--border__separator);
    padding-left: 3px;
    a{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding-left: 25px;
      width: 100%;
      margin-left: -22px;
      color: var(--tp__main);
    }
    &.active{
      background: #e6e6e6;
    }
    &:last-child{
      border-bottom: 1px solid var(--border__separator);
    }
    &:hover{
      background: #e6e6e6;
      a{
        color: var(--tp__main);;
      }
    }
  }
}


.dashboard-lists-edit .pr_new-or-edit .info-tabs{
  padding: 10px 20px;
  @include boxShadow__main(var(--sh__main));
  background-color: var(--bg__content);
}