*.swp
.bundle
db/*.sqlite3
log/*
tmp/**/*
remote_logs/production/imrubprd0/*.log*
remote_logs/production/imrubprd1/*.log*
remote_logs/qa/*.log*
config/robots.development.txt
config/robots.production.txt
config/robots.qa.txt
config/robots.test.txt
config/database.yml
config/librato.yml
config/firebase-production.json
config/firebase-qa.json
vendor/bundle
vendor/cache
solr/data
solr/pids
solr/default/data
solr/development/data
solr/demo
solr/qa
solr/test/data
public/uploads
public/test_assets
public/sitemaps
/.idea/
/.vscode/
.env.demo
.env.qa
.env.production
.env.local
doc/app
db/migrate
README.rdoc
config/kafka.yml
erd.pdf
erd*.pdf
.erdconfig

.capistrano/*
.temp_files/*
.DS_Store
coverage/*
config/paypal.yml
/storage
/public/packs
/public/packs-test
/public/assets/packs
/public/assets/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.byebug_history

config/credentials/*.production.key
config/credentials/*.qa.key
config/credentials/*.over.*
config/credentials/credentials.over*

# Ignore asdf config files
.tool-versions
app/assets/javascripts/routes.d.ts
app/assets/javascripts/routes.js
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
