= I18n.t('mailers.service_subscriptions_mailer.suspended_started.body',
  user_name: @user.public_display_name,
  start_date: (@subscription.suspended_at || @subscription.updated_at).in_time_zone(@user.timezone).strftime('%d %b %I:%M %p %Z'),
  prior_to_date: ((@subscription.suspended_at || @subscription.updated_at) + 5.days).in_time_zone(@user.timezone).strftime('%d %b %I:%M %p %Z'),
  suspended_days: @suspended_days,
  plan_name: @plan_package.name,
  plan_price: @plan.formatted_price,
  plan_interval: @plan.formatted_interval,
  edit_billing_profile_url: edit_billing_profile_url,
  support_email: Rails.application.credentials.global[:support_mail],
  platform_name: Rails.application.credentials.global[:service_name]).html_safe
