%p Dear #{@user.public_display_name},
%p Your decided to finish your Trial Period on #{Rails.application.credentials.global[:service_name]}.
%p Your Trial subscription is cancelled. All content is removed.
%p Thank you for interest in #{Rails.application.credentials.global[:service_name]}! We are waiting for you to come back one day again.
%p
  If you have any questions, feel free to
  = link_to 'contact us', support_home_url
  any time.

