<h1>Welcome!</h1>


<!--<div class="styleguide-example">-->
<!--<h3 id="IDFORNAV"> Title</h3>-->
<!--<div class="styleguide-description">-->
<!--<p>discription</p>-->
<!--<p>More example and description on <a href="http://*****" target="_blank">http://*****</a></p>-->
<!--</div>-->

<!--<div class="styleguide-element">-->
<!--example cod-->
<!--</div>-->
<!--<pre>-->
<!--Haml example cod-->
<!--</pre>-->
<!--</div>-->
<div class="styleguide-example">
  <h3 id="colors"> colors</h3>
  <div class="styleguide-description">
    <p>main colors style guide</p>
  </div>

  <div class="styleguide-element">
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #F23535; width: 190px">
      <div class="hash">#F23535</div>
      <div class="colorVarible">$siteColorMain</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #095F73; width: 190px">
      <div class="hash">#095F73</div>
      <div class="colorVarible">$siteColorSecondary</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #ff3366; width: 190px">
      <div class="hash">#ff3366</div>
      <div class="colorVarible">$siteColorMainRed</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #bcbcbc; width: 190px">
      <div class="hash">#bcbcbc</div>
      <div class="colorVarible">$siteColorMainGrey</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #baccdb; width: 190px">
      <div class="hash">#baccdb</div>
      <div class="colorVarible">$siteColorMainLightGrey</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #10e6bb; width: 190px">
      <div class="hash">#10e6bb</div>
      <div class="colorVarible">$siteColorMainGrean</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #F6C84A; width: 190px">
      <div class="hash">#F6C84A</div>
      <div class="colorVarible">$siteColorMainYellow</div>
    </div>
    <br><br>
    <p>colors for fonts</p>

    <div class="colorBlock text-color-black text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #fff; width: 190px;border: 1px solid #ccc;">
      <div class="hash">#fff</div>
      <div class="colorVarible">$font-colorWhite</div>
    </div>
    <div class="colorBlock text-color-white text-center  padding-top-20 padding-bottom-20 display-inline-block margin-right-10 margin-bottom-10" style="background: #000; width: 190px;">
      <div class="hash">#000</div>
      <div class="colorVarible">$font-colorBlack</div>
    </div>
  </div>
</div>




<div class="styleguide-example">
  <h3 id="IDFORNAV"> Tiles</h3>
  <div class="styleguide-description">
    <p>Tiles</p>
    <p>Live Sessions</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="sessionStatus sessionStatus-red">
            <span>Live</span>
            <div class="liveViewers">
              <i class="VideoClientIcon-Views"></i>
              235K
            </div>
          </div>
          <div class="sessionCost">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div>
            <span class="ScheduledDate">
              Started: 4:00 PM
            </span>
          </div>
        </div>
      </section>
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="sessionStatus sessionStatus-red">
            <span>Live</span>
            <div class="liveViewers">
              <i class="VideoClientIcon-Views"></i>
              235K
            </div>
          </div>
          <div class="sessionCost active">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div>
            <span class="ScheduledDate">
              Started: 4:00 PM
              <span class="text-color-green">Purchased</span>
            </span>
          </div>
        </div>
      </section>
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="timeCount">15hrs 43min</div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div>
            <span class="ScheduledDate text-ellipsis">Scheduled for september 21, 3.00 PM</span>
          </div>
          <div>
            <a href="#" class="btn btn-s btn-borderred-grey">
              <i class="VideoClientIcon-Notifications"></i>
              Set reminder
            </a>
          </div>
        </div>
      </section>
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="timeCount">15hrs 43min</div>
          <div class="sessionCost active">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div>
            <span class="ScheduledDate">
              Scheduled for september 21, 3.00 PM
              <span class="text-color-red">Subscription</span>
            </span>
          </div>
          <div>
            <a href="#" class="btn btn-s btn-borderred-grey active">
              <i class="VideoClientIcon-Notifications"></i>
              Reminder set
            </a>
          </div>
        </div>
      </section>
    </div>
    <hr class="margin-top-10 margin-bottom-10">




    <p>Videos</p>
    <br>
    <p class="padding-left-20">Replay</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link">
            <i class="VideoClientIcon-movie-player-play-button"></i>
          </a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="sessionStatus">
            Replay
          </div>
          <div class="sessionCost">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div class="padding-top-10 fs-12">
            <div class="display-inline-block vertical-midle" rel="tipsy" title="1.5/5">
              <ul class="starRating clearfix">
                <li> <i class="VideoClientIcon-starF"></i></li>
                <li> <i class="VideoClientIcon-star-half-altF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
              </ul>
            </div>
            <span class="display-inline-block vertical-midle">(53)</span>
            <div class="display-inline-block vertical-midle">
              <div class="participants text-ellipsis display-inline-block vertical-midle"><i class="VideoClientIcon-Views"></i>333</div>
            </div>
            <div class="display-inline-block vertical-midle text-color-red">
              Subscription
            </div>
          </div>
          <div>
            <span class="ScheduledDate text-ellipsis">Streamed: Mar. 8, 12:00 PM</span>
          </div>
        </div>
      </section>
    </div>
    <br>
    <p class="padding-left-20">Videos</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake margin-right-10 pull-left" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link">
            <i class="VideoClientIcon-movie-player-play-button"></i>
          </a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share-mk4"></i>
          </a>
          <div class="sessionCost">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 fc-main-light text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div class="padding-top-10 fs-12">
            <div class="display-inline-block vertical-midle" rel="tipsy" title="1.5/5">
              <ul class="starRating clearfix">
                <li> <i class="VideoClientIcon-starF"></i></li>
                <li> <i class="VideoClientIcon-star-half-altF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
              </ul>
            </div>
            <span class="display-inline-block vertical-midle">(53)</span>
            <div class="display-inline-block vertical-midle">
              <div class="participants text-ellipsis display-inline-block vertical-midle"><i class="VideoClientIcon-Views"></i>333</div>
            </div>
            <div class="display-inline-block vertical-midle text-color-green">
              Purchased
            </div>
          </div>
          <div>
            <span class="ScheduledDate text-ellipsis">Uploaded: Mar. 8, 12:00 PM</span>
          </div>
        </div>
      </section>
    </div>
    <a class="btn btn-s btn-green" role="button" data-toggle="collapse" href="#RecentStreams" aria-expanded="false" aria-controls="video">
      haml example
    </a>
    <pre id="RecentStreams" class="collapse">
      <!--%section.tile-cake-->
        <!--.tile-img-->
          <!--.img{style:"background-image:url('http://placehold.it/215x120')"}-->
          <!--%i.VideoClientIcon-movie-player-play-button-->
          <!--.tile-hovered-block-->
            <!--%a.avatarImg-SD{href:"#", style:"background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/96/139.jpg')"}-->
            <!--.tile-hovered-block-body-->
              <!--%div-->
                <!--.pull-right-->
                  <!--%a.like-block{href: "#"}-->
                    <!--%i.VideoClientIcon-Favorites-->
                  <!--%a.social-sharing{href: "#"}-->
                    <!--%i.VideoClientIcon-share-mk4-->
                <!--Presented by-->
              <!--%a.presenter-name.text-ellipsis{href: "#"} Samantha Brandson-->
        <!--.tile-body-->
          <!--%a.tile-name.text-ellipsis{href: "#"} Preparing for Bucharest Fashion-->
          <!--.tile-information-->
            <!--.participants.text-ellipsis.half-width.display-inline-block.vertical-midle-->
              <!--%i.VideoClientIcon-Views>-->
              <!--333-->
            <!--.pull-right{rel:"tipsy", title:"1.5/5"}-->
              <!--%ul.starRating.clearfix-->
                <!--%li-->
                  <!--%i.icon-star-->
                <!--%li-->
                  <!--%i.icon-star-half-alt-->
                <!--%li-->
                  <!--%i.icon-star-empty-->
                <!--%li-->
                  <!--%i.icon-star-empty-->
                <!--%li-->
                  <!--%i.icon-star-empty-->
          <!--.tile-btns-->
            <!--%a.btn.btn-s.btn-borderred-grey{href: "#"} Watch $12.99-->


    </pre>
    <hr class="margin-top-10 margin-bottom-10">
    <p>Channels</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake tile-cake-Channels margin-right-10 pull-left" style="width: 445px">
        <div class="tile-img">
          <a href="#" class="channelTile-presenterName text-ellipsis">
            <div class="avatarImg-SD" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/96/139.jpg')"></div>
            Owned by Meeki Paris
          </a>
          <div class="tile-imgContainer" style="background-image: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <div class="channelName text-ellipsis">Fashion Photography</div>
        </div>
        <div class="row">
          <div class="col-md-12 text-color-red">
            Subscription plans starting from $12.99
          </div>
        </div>
      </section>
    </div>
    <hr class="margin-top-10 margin-bottom-10">

    <p>session</p>
    <div class="styleguide-element clearfix">
      <div class="mainVideoSection-rightSidebar show" style="width:386px">
        <section>


          <div class="tile-cake-sidebarrr replay-tile" data-id="5" data-type="replay" id="player_replay_5">
            <div class="tile-img">
              <a href="#"><div class="img" style="background-image: url('http://placehold.it/200x200')"></div>
              </a>
              <i class="VideoClientIcon-dollar-currency-symbol"></i>
             <div class="tileStatus tileStatus-red">
               LIVE
             </div>
            </div>
            <a class="tile-body switch_replay" href="#">
              <div class="tile-name text-ellipsis display-block">Test Channel #13: Jatri Minas Morgul 173</div>
              <div class="text-color-ultra-LightGrey">
                <div class="participants text-ellipsis display-inline-block vertical-midle margin-right-5 pull-right">
                  <i class="VideoClientIcon-Views fs-16 vertical-sub"></i>
                  0
                </div>
                <div class="time tileTimeStatus-now">
                  Now
                </div>
              </div>
            </a>
          </div>

          <div class="tile-cake-sidebarrr replay-tile" data-id="5" data-type="replay" id="player_replay_5">
            <div class="tile-img">
              <a href="#"><div class="img" style="background-image: url('http://placehold.it/200x200')"></div>
              </a>
              <i class="VideoClientIcon-dollar-currency-symbol"></i>
              <div class="tileStatus">
                8 Hr 30 Min
              </div>
            </div>
            <a class="tile-body switch_replay" href="##">
              <div class="tile-name text-ellipsis display-block">Test Channel #13: Jatri Minas Morgul 173</div>
              <div class="text-color-ultra-LightGrey">
                <div class="participants text-ellipsis display-inline-block vertical-midle margin-right-5 pull-right">
                  <i class="VideoClientIcon-Views fs-16 vertical-sub"></i>
                  0
                </div>
                <div class="time">
                  <abbr class="datetime" data-iso8601="2018-12-15T23:45:00-06:00" data-format="MMM D h:mm A">Dec 16 7:45 AM</abbr>
                </div>
              </div>
            </a>
          </div>


        </section>
      </div>

    </div>
    <hr class="margin-top-10 margin-bottom-10">

    <p>Creators</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake tile-cake-Creators margin-right-10 pull-left" style="width: 200px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background-image: url('http://placehold.it/200x200') "></div>
        </div>
        <a href="#" class="tile_link"></a>
        <div class="CreatorsName text-ellipsis">Jenn Loyd</div>
        <div class="text-center">
          <a href="#" class="btn btn-s">Follow</a>
        </div>
      </section>
      <section class="tile-cake tile-cake-Creators margin-right-10 pull-left" style="width: 200px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background-image: url('http://placehold.it/200x200') "></div>
        </div>
        <a href="#" class="tile_link"></a>
        <div class="CreatorsName text-ellipsis">Jenn Loyd</div>
        <div class="text-center">
          <a href="#" class="btn btn-s btn-grey-solid">Following</a>
        </div>
      </section>
    </div>
    <a class="btn btn-s btn-green" role="button" data-toggle="collapse" href="#Creators" aria-expanded="false" aria-controls="Creators">
      haml example
    </a>
    <pre id="Creators" class="collapse">
      <!--%section.tile-cake.tile-cake-Creators.margin-right-10-->
        <!--.tile-img-->
          <!--.img{style:"background-image:url('http://placehold.it/215x200')"}-->
          <!--.img-cover-->
          <!--.creators-name-->
            <!--Jenn Loyd-->
          <!--.tile-hovered-block-->
            <!--.centered-->
              <!--%a.btn.btn-s.btn-borderred-grey.margin-top-5.margin-bottom-5{href: "#"} View Profile-->
              <!--%a.btn.btn-s.margin-top-5.margin-bottom-5{href: "#"} Follow-->
    </pre>
    <hr class="margin-top-10 margin-bottom-10">



    <p>Brands</p>
    <div class="styleguide-element clearfix">
      <section class="tile-cake tile-cake-Brands margin-right-10 pull-left" style="width: 200px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background-image: url('http://placehold.it/260x330') "></div>
          <a href="#" class="tile_link"></a>
          <div class="CreatorsName text-ellipsis">Brand2</div>
          <div class="text-center followBtn_wrapp">
            <a href="#" class="btn btn-s">Follow</a>
          </div>
        </div>
        <a href="#" class="btn btn-borderred-red btn-square btn-m full-width text-uppercase margin-top-10 fs-12">Apply to work with us</a>
      </section>
      <section class="tile-cake tile-cake-Brands margin-right-10 pull-left" style="width: 200px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background-image: url('http://placehold.it/260x330') "></div>
          <a href="#" class="tile_link"></a>
          <div class="CreatorsName text-ellipsis">Brand2</div>
          <div class="text-center followBtn_wrapp">
            <a href="#" class="btn btn-s btn-grey-solid">Following</a>
          </div>
        </div>
        <a href="#" class="btn btn-borderred-grey btn-square btn-m full-width text-uppercase margin-top-10 fs-12">applied</a>
      </section>
    </div>
    <a class="btn btn-s btn-green" role="button" data-toggle="collapse" href="#Creators" aria-expanded="false" aria-controls="Creators">
      haml example
    </a>
    <pre id="Creators" class="collapse">
      <!--%section.tile-cake.tile-cake-Creators.margin-right-10-->
      <!--.tile-img-->
      <!--.img{style:"background-image:url('http://placehold.it/215x200')"}-->
      <!--.img-cover-->
      <!--.creators-name-->
      <!--Jenn Loyd-->
      <!--.tile-hovered-block-->
      <!--.centered-->
      <!--%a.btn.btn-s.btn-borderred-grey.margin-top-5.margin-bottom-5{href: "#"} View Profile-->
      <!--%a.btn.btn-s.margin-top-5.margin-bottom-5{href: "#"} Follow-->
    </pre><hr class="margin-top-10 margin-bottom-10">



    <p>video tile</p>
    <div class="styleguide-element clearfix">
      <div class="video-tile" style="opacity: 1;width: 310px; margin-left:20px;">
        <div class="actions_bar">
          <a class="togglePublished_tile " href="#" title="Publish">
            <i class="VideoClientIcon-unlock1 h_i"></i>
            <i class="VideoClientIcon-lock1 sh_i"></i>
          </a>
          <a class="toggleVisible_tile active" href="#" title="Visible">
            <i class="VideoClientIcon-eye"></i>
          </a>
          <a class="share_tile" href="/maria-romero/test-channel-10/19-jun-22-45-vipe-howarts-school-of-witchcraft-and-wizardry-125/preview_share?vod_id=21" data-remote="true" style="visibility: visible;">
            <i class="VideoClientIcon-share-2"></i>
          </a>
          <a class="edit_tile" data-target="#editVideo_21" data-toggle="modal" href="#editVideo_21">
            <i class="VideoClientIcon-edit-icon"></i>
          </a>
          <a class="delete_tile" href="#">
            <i class="VideoClientIcon-trash-2"></i>
          </a>
        </div>
        <div class="video-tile__h">
          <a class="multiChoiceBtn active" href="#"></a>
          <div class="thumbnail" style="background-image:url('/stub/jpgs/1.jpg')"></div>
          <div class="videoDuration" title="Video Duration">1:12:34</div>
          <div class="status_bar">
            <span class="st_M" title="$11.99">$</span>
          </div>
          <!--!!!NEW!!!-->
          <span class="st_Unpublished">Unpublished</span>
          <!--!!!NEW!!!-->
        </div>
        <div class="video-tile__b">
          <div class="sessionName">Test Channel #10: Vipe Howarts School of Witchcraft and Wizardry 125</div>
          <div class="presenterName">Maria Romero</div>
        </div>
        <div class="video-tile__f">
          <span>20 Jun 2019</span>
          <span class="text-center">1:45 AM</span>
          <span class="text-right">43</span>
        </div>

        <div aria-hidden="false" class="modal fade editVideo" id="editVideo_21" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <a class="closeModal" data-dismiss="modal">
                <i class="VideoClientIcon-iPlus"></i>
              </a>

              <div class="modal-body">
                <!-- edit goes here -->
              </div>
            </div>
            <div class="text-right padding-top-10">
              <a class="btn btn-m" data-dismiss="modal" href="#">close</a>
            </div>
          </div>
        </div>

      </div>
      <div class="video-tile" style="opacity: 1;width: 310px; margin-left:20px;">
        <div class="actions_bar">
          <a class="togglePublished_tile " href="#" title="Publish">
            <i class="VideoClientIcon-unlock1 h_i"></i>
            <i class="VideoClientIcon-lock1 sh_i"></i>
          </a>
          <a class="toggleVisible_tile active" href="#" title="Visible">
            <i class="VideoClientIcon-eye"></i>
          </a>
          <a class="share_tile" href="/maria-romero/test-channel-10/19-jun-22-45-vipe-howarts-school-of-witchcraft-and-wizardry-125/preview_share?vod_id=21" data-remote="true" style="visibility: visible;">
            <i class="VideoClientIcon-share-2"></i>
          </a>
          <a class="edit_tile" data-target="#editVideo_21" data-toggle="modal" href="#editVideo_21">
            <i class="VideoClientIcon-edit-icon"></i>
          </a>
          <a class="delete_tile" href="#">
            <i class="VideoClientIcon-trash-2"></i>
          </a>
        </div>
        <div class="video-tile__h">
          <a class="multiChoiceBtn active" href="#"></a>
          <div class="thumbnail" style="background-image:url('/stub/jpgs/1.jpg')"></div>
          <div class="videoDuration" title="Video Duration">1:12:34</div>
          <div class="status_bar">
            <span class="st_M" title="$11.99">$</span>
          </div>
          <div class="loaded">
            <div class="loadedCircle">
              <canvas class="canvas_l" width="80" height="80"></canvas>
            </div>
            <span>We are processing your video ...</span>
          </div>
          <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
          <script type="text/javascript" charset="utf-8">
              var canvas = $('.canvas_l');
              var ctx = canvas[0].getContext('2d');
              var startValue = 10;
              var endValue = 100;
              var start = 4.72;
              var cw = ctx.canvas.width;
              var ch = ctx.canvas.height;
              var diff;
              function progressSim(){
                  diff = ((startValue / 100) * Math.PI*2*10).toFixed(2);
                  ctx.clearRect(0, 0, cw, ch);
                  ctx.lineWidth = 5;
                  ctx.fillStyle = '#6f7073';
                  ctx.font = "normal 20px Roboto";
                  ctx.strokeStyle = "#09F";
                  ctx.textAlign = 'center';
                  ctx.fillText(startValue+'%', cw*.5, ch*.5+6, cw);
                  ctx.beginPath();
                  ctx.arc(40, 40, 35, start, diff/10+start, false);
                  ctx.stroke();
                  if(startValue === endValue){
                      clearTimeout(sim);
                  }
                  if(startValue >= 100){
                      clearTimeout(sim);
                      // Add scripting here that will run when progress completes
                  }
                  startValue++;
              }
              var sim = setInterval(progressSim, 50);
          </script>
        </div>
        <div class="video-tile__b">
          <div class="sessionName">Test Channel #10: Vipe Howarts School of Witchcraft and Wizardry 125</div>
          <div class="presenterName">Maria Romero</div>
        </div>
        <div class="video-tile__f">
          <span>20 Jun 2019</span>
          <span class="text-center">1:45 AM</span>
          <span class="text-right">43</span>
        </div>

        <div aria-hidden="false" class="modal fade editVideo" id="editVideo_21" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <a class="closeModal" data-dismiss="modal">
                <i class="VideoClientIcon-iPlus"></i>
              </a>

              <div class="modal-body">
                <!-- edit goes here -->
              </div>
            </div>
            <div class="text-right padding-top-10">
              <a class="btn btn-m" data-dismiss="modal" href="#">close</a>
            </div>
          </div>
        </div>

      </div>
      <div class="video-tile" style="opacity: 1;width: 310px; margin-left:20px;">
        <div class="actions_bar">
          <a class="togglePublished_tile " href="#" title="Publish">
            <i class="VideoClientIcon-unlock1 h_i"></i>
            <i class="VideoClientIcon-lock1 sh_i"></i>
          </a>
          <a class="toggleVisible_tile active" href="#" title="Visible">
            <i class="VideoClientIcon-eye"></i>
          </a>
          <a class="share_tile" href="/maria-romero/test-channel-10/19-jun-22-45-vipe-howarts-school-of-witchcraft-and-wizardry-125/preview_share?vod_id=21" data-remote="true" style="visibility: visible;">
            <i class="VideoClientIcon-share-2"></i>
          </a>
          <a class="edit_tile" data-target="#editVideo_21" data-toggle="modal" href="#editVideo_21">
            <i class="VideoClientIcon-edit-icon"></i>
          </a>
          <a class="delete_tile" href="#">
            <i class="VideoClientIcon-trash-2"></i>
          </a>
        </div>
        <div class="video-tile__h">
          <a class="multiChoiceBtn active" href="#"></a>
          <div class="thumbnail" style="background-image:url('/stub/jpgs/1.jpg')"></div>
          <div class="videoDuration" title="Video Duration">1:12:34</div>
          <div class="status_bar">
            <span class="st_p" title="Published">Published</span>
            <span class="st_M" title="$11.99">$</span>
          </div>
        </div>
        <div class="video-tile__b">
          <div class="sessionName">Test Channel #10: Vipe Howarts School of Witchcraft and Wizardry 125</div>
          <div class="presenterName">Maria Romero</div>
        </div>
        <div class="video-tile__f">
          <span>20 Jun 2019</span>
          <span class="text-center">1:45 AM</span>
          <span class="text-right">43</span>
        </div>

        <div aria-hidden="false" class="modal fade editVideo" id="editVideo_21" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <a class="closeModal" data-dismiss="modal">
                <i class="VideoClientIcon-iPlus"></i>
              </a>

              <div class="modal-body">
                <!-- edit goes here -->
              </div>
            </div>
            <div class="text-right padding-top-10">
              <a class="btn btn-m" data-dismiss="modal" href="#">close</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a class="btn btn-s btn-green" role="button" data-toggle="collapse" href="#Creators" aria-expanded="false" aria-controls="Creators">
      haml example
    </a>
    <pre id="Creators" class="collapse">
      <!--%section.tile-cake.tile-cake-Creators.margin-right-10-->
      <!--.tile-img-->
      <!--.img{style:"background-image:url('http://placehold.it/215x200')"}-->
      <!--.img-cover-->
      <!--.creators-name-->
      <!--Jenn Loyd-->
      <!--.tile-hovered-block-->
      <!--.centered-->
      <!--%a.btn.btn-s.btn-borderred-grey.margin-top-5.margin-bottom-5{href: "#"} View Profile-->
      <!--%a.btn.btn-s.margin-top-5.margin-bottom-5{href: "#"} Follow-->
    </pre>

    <p>video tile</p>
    <div class="styleguide-element clearfix" >
      <section class="tile-cake" style="float: left; width: 330px; height: 292px;">
        <div class="tile-cake__placeholder" >
          <div class="spinnerSlider">
            <div class="bounceS1"></div>
            <div class="bounceS2"></div>
            <div class="bounceS3"></div>
          </div>
          <svg width="290" height="260" viewBox="0 0 290 260" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="176" width="290" height="14" rx="7" fill="black" fill-opacity="0.1"/>
            <rect y="200" width="100" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect y="230" width="200" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect y="250" width="200" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect width="290" height="162" rx="5" fill="black" fill-opacity="0.1"/>
            <rect x="10" y="10" width="50" height="20" rx="3" fill="white"/>
          </svg>
        </div>
      </section>
      <section class="tile-cake" style="float: left; width: 330px;">
        <div class="tile-cake__placeholder tile-cake__standalone" >
          <div class="spinnerSlider">
            <div class="bounceS1"></div>
            <div class="bounceS2"></div>
            <div class="bounceS3"></div>
          </div>
          <svg width="290" height="260" viewBox="0 0 290 260" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="176" width="290" height="14" rx="7" fill="black" fill-opacity="0.1"/>
            <rect y="200" width="100" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect y="230" width="200" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect y="250" width="200" height="10" rx="5" fill="black" fill-opacity="0.1"/>
            <rect width="290" height="162" rx="5" fill="black" fill-opacity="0.1"/>
            <rect x="10" y="10" width="50" height="20" rx="3" fill="white"/>
          </svg>
        </div>
      </section>
    </div>
    <div class="styleguide-element clearfix">
      <pre id="Creators" class="collapse"></pre>
  </div>

</div>




<div class="styleguide-example">
  <h3 id="Buttons">Buttons</h3>

  <div class="styleguide-description">

    <p>main Style For btn</p>
    <a href="#" class="btn btn-s margin-top-10">btn btn-s</a>
    <a href="#" class="btn btn-s margin-top-10 btn-red">btn btn-s btn-red</a>
    <a href="#" class="btn btn-s margin-top-10 btn-green">btn btn-s btn-green</a>
    <a href="#" class="btn btn-s margin-top-10 btn-borderred-grey">btn btn-s btn-borderred-grey</a>
    <a href="#" class="btn btn-s margin-top-10 btn-grey-solid">btn btn-s btn-grey-solid</a>
    <a href="#" class="btn btn-s margin-top-10 btn-borderred-grey hoverText">btn btn-s btn-borderred-grey hoverText <span class="hoverText">ololol its hoverText!</span></a>
    <br><br>
    <a href="#" class="btn btn-m margin-top-10 ">btn btn-m</a>
    <a href="#" class="btn btn-m margin-top-10 btn-red">btn btn-m btn-red</a>
    <a href="#" class="btn btn-m margin-top-10 btn-green">btn btn-m btn-green</a>
    <a href="#" class="btn btn-m margin-top-10 btn-borderred-grey">btn btn-m btn-borderred-grey</a>
    <a href="#" class="btn btn-m margin-top-10 btn-grey-solid">btn btn-m btn-grey-solid</a>
    <a href="#" class="btn btn-m margin-top-10 btn-borderred-grey hoverText">btn btn-m btn-borderred-grey hoverText hoverText <span class="hoverText">ololol its hoverText!</span></a>
    <br><br>
    <a href="#" class="btn btn-l margin-top-10 ">btn btn-l</a>
    <a href="#" class="btn btn-l margin-top-10 btn-red">btn btn-l btn-red</a>
    <a href="#" class="btn btn-l margin-top-10 btn-green">btn btn-l btn-green</a>
    <a href="#" class="btn btn-l margin-top-10 btn-borderred-grey">btn btn-l btn-borderred-grey</a>
    <a href="#" class="btn btn-l margin-top-10 btn-grey-solid">btn btn-l btn-grey-solid</a>
    <a href="#" class="btn btn-l margin-top-10 btn-borderred-grey hoverText">btn btn-l btn-borderred-grey hoverText hoverText <span class="hoverText">ololol its hoverText!</span></a>
    <br><br>
    <p>Hover Style For btn</p>
    <a href="#" class="btn btn-m btn-borderred-grey btn-hover-red">btn btn-m btn-borderred-grey <span class="text-color-red">btn-hover-red</span></a>
    <a href="#" class="btn btn-m btn-borderred-grey btn-hover-blue">btn btn-m btn-borderred-grey <span class="text-color-Blue">btn-hover-blue</span></a>
    <a href="#" class="btn btn-m btn-borderred-grey btn-hover-green">btn btn-m btn-borderred-grey <span class="text-color-green">btn-hover-green</span></a>
    <br><br>
    <a href="#" class="btn btn-m btn-hover-bordered">btn-m btn-hover-bordered</a>
    <br><br>
    <p>btns width icons </p>
    <a href="#" class="btn btn-m with-icon-left">btn-m btn-hover-bordered with-icon-left<i class="VideoClientIcon-checkmark"></i></a>
    <a href="#" class="btn btn-m with-icon-right">btn-m btn-hover-bordered with-icon-right<i class="VideoClientIcon-checkmark"></i></a>



    <p>btns groups</p>
    <div class="btns-group">
      <a href="#" class="btn btn-m btn-borderred-grey active">btn-m btn-borderred-grey active</a>
      <a href="#" class="btn btn-m btn-borderred-grey">btn-m btn-borderred-grey</a>
    </div>
    <p>btns groups for tabs</p>
    <ul class="btns-group full-width nav-tabs">
      <li><a href="#" class="btn btn-m btn-borderred-grey">btn-m btn-borderred-grey active</a></li>
      <li><a href="#" class="btn btn-m btn-borderred-grey">btn-m btn-borderred-grey</a></li>
    </ul>
    <br><br>

    <p>White Button</p>
    <a href="#" class="btn-white btn-blue-hover">.btn-white</a>
    <a href="#" class="btn-white btn-red-hover">.btn-white.btn-red-hover with <span class="text-color-red">red</span>
      hover</a>
    <a href="#" class="btn-white btn-grey-hover">.btn-white.btn-grey-hover with grey hover</a>
    <a href="#" class="btn-white btn-withIcon "><i class="VideoClientIcon-editF"></i>.btn-white.btn-withIcon with icon</a><br/><br/>
    <a href="#" class="btn-white btn-red-hover btn-withIcon disabled" disabled="disabled"><i class="VideoClientIcon-editF"></i>.btn-white.btn-withIconbtn-red-hover.disabled
      with icon and USE .disabled for 'a'-teg ! disabled !</a><br/><br/>
    <button class="btn-white btn-withIcon btn-red-hover" disabled="disabled"><i class="VideoClientIcon-editF"></i>.btn-white.btn-withIconbtn-red-hover
      with icon and USE disabled="disabled" for button ! disabled !
    </button>
    <br/>

    <br/><br/>

    <p>Grey Button</p>
    <a href="#" class="btn-grey">.btn-grey</a>
    <a href="#" class="btn-grey btn-blue-hover">.btn-grey.btn-red-hover with <span class="text-color-Blue">blue</span>
      hover</a>
    <a href="#" class="btn-grey btn-red-hover">.btn-grey.btn-red-hover with <span class="text-color-red">red</span>
      hover</a>
    <a href="#" class="btn-grey btn-withIcon "><i class="VideoClientIcon-editF"></i>.btn-white.btn-withIcon with icon</a>
    <br/><br/>
    <a href="#" class="btn-grey-small">.btn-grey-small</a>
    <a href="#" class="btn-grey-small btn-grey-hover">.btn-grey-small.btn-grey-hover</a>
    <a href="#" class="btn-grey-small btn-blue-hover">.btn-grey-small.btn-blue-hover</a>
    <a href="#" class="btn-grey-small bigBtn">.btn-grey-small.bigBtn</a>
    <a href="#" class="btn-grey-small EpickBig">.btn-grey-small.EpickBig</a>
    <br/><br/>
    <a href="#" class="btn-grey-solid">.btn-grey-solid</a>
    <a href="#" class="btn-grey-solid bigBtn">.btn-grey-solid.bigBtn</a>
    <a href="#" class="btn-grey-solid EpickBig">.btn-grey-solid.EpickBig</a>
    <br/><br/>
    <a href="#" class="btn-grey-dark-solid">.btn-grey-solid</a>
    <a href="#" class="btn-grey-dark-solid bigBtn">.btn-grey-solid.bigBtn</a>


    <p>Red Button</p>
    <a href="#" class="btn-red btn-withIcon"><i class="GlobalIcon-clear"></i>.btn-red.btn-withIcon</a>

    <br/><br/>

    <p>Green Button</p>
    <a href="#" class="btn-green btn-withIcon"><i class="VideoClientIcon-checkmark"></i>.btn-red.btn-withIcon</a>
    <a href="#" class="btn-green btn-withIcon btn-withGreyIcon"><i class="VideoClientIcon-checkmark"></i>.btn-red.btn-withIcon.btn-withGreyIcon
      With grey icon</a>
    <br/><br/>

    <p>Blue Button</p>
    <a href="#" class="mainButton">.mainButton</a>
    <a href="#" class="mainButton bigBtn">.mainButton.bigBtn</a>
    <a href="#" class="mainButton EpickBig">.mainButton.EpickBig</a>
    <a href="#" class=" btn-white btn-blue-hover">.btn.btn-primary</a>
  </div>

  <!--<div class="styleguide-element">-->
  <!--example cod-->
  <!--</div>-->
  <!--<pre>-->
  <!--Haml example cod-->
  <!--</pre>-->
</div>
<div class="styleguide-example">
  <h3 id="IDFORNAV"> form styles</h3>

  <div class="styleguide-description">
    <p>form</p>
  </div>

  <div class="styleguide-element">
    <form action="" class="form_V2" novalidate="novalidate" autocomplete="off" style="visibility: visible">

      <div class="input-block state-clear">
        <label for="exampleTextInput1">label example for text input</label>
        <input type="text" id="exampleTextInput1"/>

        <div class="errorContainerWrapp">
          <div class="errorContainer">error text</div>
        </div>
        <span rel="tipsy" title="tooltip example"><i class="VideoClientIcon-q5"></i></span>
      </div>

      <div class="input-block state-clear required">
        <label for="exampleTextInput2">label example for required input</label>
        <input type="text" id="exampleTextInput2"/>

        <div class="errorContainerWrapp">
          <div class="errorContainer">error text</div>
        </div>
        <span rel="tipsy" title="tooltip example"><i class="VideoClientIcon-q5"></i></span>
      </div>

      <div class="input-block event-focus state-clear">
        <label for="exampleTextInput3">with focus. no data</label>
        <input type="text" id="exampleTextInput3"/>

        <div class="errorContainerWrapp">
          <div class="errorContainer">error text</div>
        </div>
        <span rel="tipsy" title="tooltip example"><i class="VideoClientIcon-q5"></i></span>
      </div>

      <div class="input-block event-focus state-derty">
        <label for="exampleTextInput4">with focus and data</label>
        <input type="text" id="exampleTextInput4" value="test"/>

        <div class="errorContainerWrapp">
          <div class="errorContainer">error text</div>
        </div>
        <span rel="tipsy" title="tooltip example"><i class="VideoClientIcon-q5"></i></span>
      </div>
      <div class="input-block event-focus state-derty error">
        <label for="exampleTextInput5">with focus, data and error</label>
        <input type="text" id="exampleTextInput5" value="test"/>

        <div class="counter_block">0/30</div>
        <div class="errorContainerWrapp">
          <div class="errorContainer">errorVestibulum id ligula porta felis euismod semper. Curabitur blandit tempus
            porttitor. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus
            posuere velit aliquet. text
          </div>
        </div>
        <span rel="tipsy" title="tooltip example"><i class="VideoClientIcon-q5"></i></span>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>

      <p>DEMO</p>

      <div class="input-block state-clear required">
        <label for="exampleEmailInpu6t">label example for email input</label>
        <input type="text" id="exampleEmailInpu6t"/>
        <% content_for(:after_include_javascripts) do %>
          <script name="SCRIPT_FOR_TEXT_AREA">
              jQuery('.input-block').each(function () {
                  var input = jQuery(this).find('input'),
                          $parent = jQuery(this),
                          $input = jQuery(input),
                          text_val = $input.val();

                  console.log($input);
                  console.log(text_val);


                  $input.focus(function () {
                      $parent.addClass('event-focus');
                      console.log($($input));
                  }).focusout(function () {
                      console.log($($input))
                      var text_val = $input.val();
                      checkVal($parent, text_val);
                  });

              });
              function checkVal(element, text_val) {
                  console.log()
                  if (!text_val == '') {
                      element.removeClass('state-clear error').addClass('state-derty');
                  } else {
                      if (element.hasClass('required')) {
                          element.addClass('error')
                      }
                      element.addClass('state-clear').removeClass('state-derty event-focus');
                  }
              }
          </script>
        <% end %>
        <div class="errorContainerWrapp">
          <div class="errorContainer">error text</div>
        </div>
      </div>

      <div class="input-block">
        <label for="exampleEmailtextArea7">label example for textarea</label>
        <textarea data-autoresize rows="5"></textarea>
        <% content_for(:after_include_javascripts) do %>
            <script name="SCRIPT_FOR_TEXT_AREA">
                jQuery.each(jQuery('textarea[data-autoresize]'), function () {
                    var offset = this.offsetHeight - this.clientHeight;

                    var resizeTextarea = function (el) {
                        jQuery(el).css('height', 'auto').css('height', (el.scrollHeight + offset) + 8);
                    };
                    resizeTextarea(this);
                    jQuery(this).on('keyup input', function () {
                        resizeTextarea(this);
                    }).removeAttr('data-autoresize');
                });
            </script>
        <% end %>
      </div>

    </form>
  </div>
    <pre>
        Haml example cod
    </pre>
</div>


<div class="styleguide-example">
  <h3 id="IDFORNAV">Avatars</h3>

  <div class="styleguide-description">
    <p>styles for Avatars</p>
  </div>

  <div class="styleguide-element">
    <div class="avatarImg-XSD" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/200/200.jpg')"></div>
    - .avatarImg-SD
    <br/>
    <br/>

    <div class="avatarImg-SD" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/200/200.jpg')"></div>
    - .avatarImg-SD
    <br/>
    <br/>

    <div class="avatarImg-MD" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/200/200.jpg')"></div>
    - .avatarImg-MD
    <br/>
    <br/>

    <div class="avatarImg-XD" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/200/200.jpg')"></div>
    - .avatarImg-XD
    <br/>
    <br/>

    <div class="avatarImg-XXl" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/200/200.jpg')"></div>
    - .avatarImg-XXl
  </div>
  <pre>
    .avatarImg-XSD{style: 'background-image: url(" #imageUrl# ")'}
    .avatarImg-SD{style: 'background-image: url(" #imageUrl# ")'}
    .avatarImg-MD{style: 'background-image: url(" #imageUrl# ")'}
    .avatarImg-XD{style: 'background-image: url(" #imageUrl# ")'}
    .avatarImg-XXl{style: 'background-image: url(" #imageUrl# ")'}
  </pre>
</div>

<div class="styleguide-example">
  <h3 id="IDFORNAV">Loading cover</h3>

  <div class="styleguide-description">
    <p>Loading cover use this class LoadingCover</p>
  </div>

  <div class="styleguide-element clearfix">
    <div class="LoadingCover pull-left" style="height: 250px;width: 250px; margin-bottom: 15px; margin-right: 15px;outline:1px solid red; background:red">
      <div class="spinnerSlider">
        <div class="bounceS1"></div>
        <div class="bounceS2"></div>
        <div class="bounceS3"></div>
      </div>
    </div>
    <div class="LoadingCover pull-left" style="height: 150px;width: 250px; margin-bottom: 15px;outline:1px solid red;;background:red">
      <div class="spinnerSlider">
        <div class="bounceS1"></div>
        <div class="bounceS2"></div>
        <div class="bounceS3"></div>
      </div>
    </div>
  </div>
    <pre>
        #exampleBlock.LoadingCover
            <!--append this block-->
            .spinnerSlider
                .bounceS1
                .bounceS2
                .bounceS3
    </pre>
  <h3 id="IDFORNAV">Loading cover for tile img</h3>
  <div class="styleguide-element clearfix">
    <div class="clearfix">
      <section class="tile-cake margin-right-10 pull-left loaded_animation loaded_show" style="width: 330px">
        <div class="tile-img">
          <div class="tile-imgContainer" style="background: url('http://placehold.it/330x185') "></div>
          <a href="#" class="tile_link"></a>
          <a class="social-sharing" href="#">
            <i class="VideoClientIcon-share57"></i>
          </a>
          <div class="sessionCost">
            <i class="VideoClientIcon-dollar-currency-symbol"></i>
            <div class="sessionCost-tooltip fs-12">
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">watch</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="row">
                <div class="col-xs-6 text-color-DarkgreyMK2 padding-right-0">Participate</div>
                <div class="col-xs-6 text-color-green text-right">$12.99</div>
              </div>
              <div class="padding-bottom-5 text-color-LightGrey">(Only 5 spots left)</div>
            </div>
          </div>
        </div>
        <div class="tile-body">
          <a href="#" class="tile-name">Sed posuere consectetur est at lobortis.</a>
          <a href="#" class="tile-owner text-ellipsis">By Sedpo Obortis.</a>
          <div class="padding-top-10 fs-12">
            <div class="display-inline-block vertical-midle" rel="tipsy" title="1.5/5">
              <ul class="starRating clearfix">
                <li> <i class="VideoClientIcon-starF"></i></li>
                <li> <i class="VideoClientIcon-star-half-altF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i></li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
                <li> <i class="VideoClientIcon-star-emptyF"></i> </li>
              </ul>
            </div>
            <span class="display-inline-block vertical-midle">(53)</span>
            <div class="display-inline-block vertical-midle">
              <div class="participants text-ellipsis display-inline-block vertical-midle"><i class="VideoClientIcon-user-mk2"></i>333</div>
            </div>
          </div>
          <div>
            <span class="ScheduledDate text-ellipsis">Scheduled for september 21, 3.00 PM</span>
          </div>
          <div>
            <a href="#" class="btn btn-s btn-borderred-grey">
              <i class="VideoClientIcon-Notifications"></i>
              Set reminder
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <pre>
        %div.loaded_animation.loaded_show

    </pre>
</div>

<div class="styleguide-example">
  <h3 id="IDFORNAV">Drop down</h3>

  <div class="styleguide-description">
    <p>bootstrap dropdown</p>

    <p>More example and description on
      <a href="http://getbootstrap.com/javascript/#dropdowns" target="_blank">getbootstrap.com/javascript/#dropdowns</a>
    </p>
  </div>

  <div class="styleguide-element">
    <div class="row">
      <div class="col-md-4" style="outline: 1px solid red">
        .col-md-4
        <br/>
        <div class="dropdown dropdown-list full-width">
          <a href="#" class="mainButton bigBtn dropdown-toggle full-width witch-icon-angle" data-toggle="dropdown">
            <%= Rails.application.credentials.global[:service_name]%>
            <i class="VideoClientIcon-angle-downF"></i>
            <i class="VideoClientIcon-angle-upF" style="display: none"></i>
          </a>
          <ul class="dropdown-menu full-width">
            <li><a href="#">list item</a></li>
            <li><a href="#">list item</a></li>
            <li>list item</li>
            <li>list item</li>
          </ul>
        </div>
        <br>
        <br>
        <br>
        <div class="dropdown dropdown-list SubscribeDropDown">
          <a href="#" class="btn btn-s btn-borderred-red subscribebtn dropdown-toggle witch-icon-angle" data-toggle="dropdown">
            Subscribe
            <i class="VideoClientIcon-angle-downF"></i>
            <i class="VideoClientIcon-angle-upF" style="display: none"></i>
          </a>
          <div class="dropdown-menu">
            Channel Name Goes Here On This Line no Matter how long it is
            <div class="row">
              <div class="col-md-6">
                <a href="#" class="btn btn-borderred-red btn-square">Subscribe to Channel</a>
              </div>
              <div class="col-md-6">
                <a href="#" class="btn btn-borderred-grey btn-square">Gift Subscription</a>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div class="col-md-4">
        <div class="dropdown dropdown-list">
          <a href="#" class="mainButton bigBtn dropdown-toggle" data-toggle="dropdown">
            <%= Rails.application.credentials.global[:service_name]%>
            <i class="VideoClientIcon-angle-downF"></i>
            <i class="VideoClientIcon-angle-upF" style="display: none"></i>
          </a>
          <ul class="dropdown-menu full-width">
            <li><a href="#">list item</a></li>
            <li><a href="#">list item</a></li>
            <li>list item</li>
            <li>list item</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">

        <div class="dropdown dropdown-list pull-right NoMinWidth">
          <a href="#" class="btn-grey-small dropdown-toggle NoMinWidth" data-toggle="dropdown">
            <i class="VideoClientIcon-dots-horizontal-triple"></i>
          </a>
          <ul class="dropdown-menu full-width dropdown-menu-withIcons">
            <li><i class="icon-print-2"></i><a href="#">list item</a></li>
            <li><a href="#">no icon</a></li>
            <li><i class="icon-sliders"></i>list item</li>
            <li><i class="icon-emo-happy"></i> list item</li>
          </ul>
        </div>
        small dropDown(dropdown-menu with icons)
      </div>

    </div>
  </div>
  <pre>
    .dropdown.dropdown-list.full-width
      %a.mainButton.bigBtn.dropdown-toggle.full-width.witch-icon-angle{"data-toggle" => "dropdown", href: "#"}
        <%= Rails.application.credentials.global[:service_name]%>
        %i.VideoClientIcon-angle-downF
        %i.VideoClientIcon-angle-upF{style: "display: none"}
      %ul.dropdown-menu.full-width
        %li
          %a{href: "#"} list item
        %li
          %a{href: "#"} list item
        %li list item
        %li list item
  </pre>
</div>






<div class="styleguide-example">
  <h3 id="Tooltip"> Tooltip</h3>

  <div class="styleguide-description">
    <p>for tooltips use ui-tooltip, for icon add rel='tipsy'</p>
  </div>

  <div class="styleguide-element">
    <a rel='tipsy' title="link tooltip" href="#">link</a>
    <br/><br/>
    <span rel='tipsy' title="span">span</span>
    <br/><br/>
    <span rel='tipsy' title="span with html <strong>tooltip</strong>">span with html tooltip</span>
    <br/><br/>
    <span rel='tipsy' title="<h2>Title</h2> span with html tooltip and img <div class='text-center'><img src='http://placekitten.com/g/50/50' alt=''/></div>">span with html tooltip and img</span>
    <br/><br/>
    <img rel='tipsy' title="tooltip for IMG" src="http://placekitten.com/g/50/50" alt=""/>
    <br/><br/>
    <span rel='tipsy' title="info icon with html <strong class='text-color-Blue'>tooltip</strong>"><i class="VideoClientIcon-q5"></i></span>
    <span rel='tipsy' title="info icon html <strong class='text-color-Blue'>tooltip</strong>"><i class="icon-info-circled"></i></span>
    <span rel='tipsy' title="info icon html <strong class='text-color-Blue'>tooltip</strong>"><i class="icon-attention-circled"></i></span>
    <br/><br/>
    <span rel='tipsy' title="info icon with html <strong class='text-color-Blue'>tooltip</strong>"><i class="VideoClientIcon-q5 text-color-Blue"></i></span>
    <span rel='tipsy' title="info icon with html <strong class='text-color-Blue'>tooltip</strong>"><i class="icon-info-circled text-color-Blue"></i></span>
    <span rel='tipsy' title="info icon with html <strong class='text-color-Blue'>tooltip</strong>"><i class="icon-attention-circled text-color-Blue"></i></span>
    <br/><br/>
    <span rel='tipsy' title="info icon with html <strong class='text-color-red'>tooltip</strong>"><i class="VideoClientIcon-q5 text-color-red"></i></span>
    <span rel='tipsy' title="info icon with html <strong class='text-color-red'>tooltip</strong>"><i class="icon-info-circled text-color-red"></i></span>
    <span rel='tipsy' title="info icon with html <strong class='text-color-red'>tooltip</strong>"><i class="icon-attention-circled text-color-red"></i></span>
    <br/><br/>

  </div>
  <pre>
    %span{rel: "tipsy", title: "tooltip text or html"}
  </pre>
</div>



<div class="styleguide-example">
  <h3 id="helpersclasses"> helpers classes</h3>

  <div class="styleguide-description">
    <p>More example and description on
      <a href="http://getbootstrap.com/css/#helper-classes" target="_blank">bootstrap helpers classes</a></p>

    <p>custom helpers classes</p>
  </div>
  <span class="text-color-red">.text-color-red</span>
  <span class="text-color-Blue">.text-color-main</span>
  <span class="text-color-green">.text-color-green</span>

  <div class="styleguide-element">
  </div>
</div>







<!--radioAndCheckbox-->
<div class="styleguide-example">
  <h3 id="radioAndCheckbox">form elements stilization( via css3 and js )</h3>

  <div class="styleguide-description">
    <p>checkbox and radio styled on css3</p>

    <p>Also have a look at
      <a href="http://stackoverflow.com/questions/299811/why-does-the-checkbox-stay-checked-when-reloading-the-page">Why
        does the checkbox stay checked when reloading the page?</a></p>
  </div>

  <div class="styleguide-element">
    <label class="checkbox checkbox-swith" style="margin-right: 50px">
      <input type="checkbox" name="" checked="checked">
      <span>
              checkbox checked
            </span>
    </label>
    <br/>
    <label class="checkbox checkbox-swith right-position" style="margin-right: 50px">
      <input type="checkbox" name="" >
      <span>
              checkbox right-position
            </span>
    </label>
    <br/>
    <label class="checkbox checkbox-swith" style="margin-right: 50px">
      <input type="checkbox" name="" >
      <span>
              checkbox
            </span>
    </label>
    <br/>
    <label class="checkbox checkbox-swith" style="margin-right: 50px">
      <input type="checkbox" name="" disabled="disabled">
      <span>
              checkbox disabled
            </span>
    </label>
    <br/>
    <label class="checkbox choice" style="margin-right: 50px">
      <input type="checkbox" name="" checked="checked">
            <span>
              checkbox checked
            </span>
    </label>
    <br/>
    <label class="checkbox choice">
      <input type="checkbox" name="">
            <span>
              checkbox un-checked
            </span>
    </label>
    <br/>
    <label class="checkbox choice right-position">
      <input type="checkbox" name="">
      <span>
              checkbox un-checked right position
            </span>
    </label>
    <br/>
    <label class="checkbox choice">
      <input type="checkbox" name="" disabled="disabled">
        <span>
          checkbox disabled
        </span>
    </label>
    <br/>
    <div class="margin-top-20">
      <label class="radio choice" style="margin-right: 50px; padding-left: 0">
        <input type="radio" name="radio" checked="checked">
                <span>
                  radio checked
                </span>
      </label>
      <br/>
      <label class="radio choice" style="padding-left: 0">
        <input type="radio" name="radio">
                <span>
                  radio un-checked
                </span>
      </label>
      <br/>
      <label class="radio choice" style="padding-left: 0">
        <input type="radio" name="radio" disabled="disabled">
                <span>
                  radio disabled
                </span>
      </label>
    </div>

    <div class="margin-top-20">
      for select use class .styled-select <br/>
      <select name="test" style="width:400px" id="" class="styled-select">
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
        <option value="test5">test5</option>
        <option value="test6">test6</option>
        <option value="test7">test7</option>
        <option value="test8">test8</option>
        <option value="test9">test9</option>
        <option value="test10">test10</option>
      </select>

      <br><br><br>css only
      <select name="test" style="width:400px" id="" class="styled-select_withCss">
        <option value="test1">test1</option>
        <option value="test2">test2</option>
        <option value="test3">test3</option>
        <option value="test4">test4</option>
        <option value="test5">test5</option>
        <option value="test6">test6</option>
        <option value="test7">test7</option>
        <option value="test8">test8</option>
        <option value="test9">test9</option>
        <option value="test10">test10</option>
      </select>
    </div>
    <br/>
    <br/>
    <br/>
    demo for .or class
    <div class="or"></div>
  </div>
    <pre>
      for checkbox

        %label.checkbox.choice
          %input{type: 'checkbox', name: 'InputName', value: ""}
          %span
            label text


      for radiobutton

        %label.choice.radio
          %input{type: "radio", name: "InputName", value: ""}
          %span
            label text

      for checked state use => checked: 'checked'


      Styled select
      %select.styled-select{id: "", name: "test"}
        %option{value: "test1"} test1
        %option{value: "test2"} test2
        %option{value: "test3"} test3
        %option{value: "test4"} test4
        %option{value: "test5"} test5
        %option{value: "test6"} test6
        %option{value: "test7"} test7
        %option{value: "test8"} test8
        %option{value: "test9"} test9
        %option{value: "test10"} test10
    </pre>
</div><!--radioAndCheckbox END-->


<!--Modal !!!!-->
<div class="styleguide-example">
  <h3 id="modal"> Modal</h3>

  <div class="styleguide-description">
    <p>We use modal windows from bootstrap</p>

    <p>More example and description on
      <a href="http://getbootstrap.com/javascript/#modals" target="_blank">http://getbootstrap.com/javascript/#modals</a>
    </p>
    <p>for small modal use .modal.modal-s class</p>
  </div>

  <div class="styleguide-element">
    <a href="#" data-target="#ID-modal" data-toggle="modal">Example Modal</a>

  </div>

  <div id="ID-modal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <a class="closeModal" data-dismiss="modal">
          <i class="VideoClientIcon-iPlus"></i>
        </a>
        <div class="modal-body">

          <h4 class="groupTitle clearfix">
            Modal Title
          </h4>

          <section>
            Modal Content
          </section>

        </div>
      </div>
      <div class="text-right padding-top-10">
        <a href="#" class="btn btn-m" data-dismiss="modal">close</a>
      </div>
    </div>
  </div>

  <pre>
    %a{class: "#", "data-target" => "#ID-modal", "data-toggle" => "modal"} open modal
    -#----------------------
    #ID-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          %a.closeModal{data: {dismiss: :modal}}
            %i.VideoClientIcon-iPlus
          .modal-body
            %h4.groupTitle.clearfix
              Modal Title
            %section
              Modal Content
        .text-right.padding-top-10
          %a.btn.btn-m{"data-dismiss":"modal", href:"#"} close
  </pre>
</div><!--Modal END !!!!-->
<div class="styleguide-example">
  <h3 id="IDFORNAV">Votes block</h3>

  <div class="styleguide-description">
    <p>Votes</p>
  </div>

  <div class="styleguide-element row">
    <div class="col-md-5">
      <div class="Votes-block">
        <div class="Votes-h">
          <div class="Votes-h-count text-color-Blue" title="341 votes">341 Votes</div>
          <h6>Nullam id dolor id nibh ultricies vehicula ut id elit7</h6>
        </div>
        <div class="Votes-b didNotVote">
          <ul>
            <div class="spinnerSliderWrapper" style="display: none">
              <div class="spinnerSlider">
                <div class="bounceS1"></div>
                <div class="bounceS2"></div>
                <div class="bounceS3"></div>
              </div>
            </div>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:78%;background-color: #35c084"></div>
                  </div>
                  <div class="Votes-percent">78%</div>
                </div>
                <div class="Votes-variables">Mickey Mouse(with active class)</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:26%;background-color: #bbc035"></div>
                  </div>
                  <div class="Votes-percent">26%</div>
                </div>
                <div class="Votes-variables">Donald Duck</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:14%;background-color: #c08a35"></div>
                  </div>
                  <div class="Votes-percent">14%</div>
                </div>
                <div class="Votes-variables">Bugs Bunny</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:8.2%;background-color: #35c0b8"></div>
                  </div>
                  <div class="Votes-percent">8.2%</div>
                </div>
                <div class="Votes-variables">Fred Flinstone</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="Votes-block">
        <div class="Votes-h">
          <div class="Votes-h-count text-color-Blue" title="341 votes">341 Votes</div>
          <h6>Nullam id dolor id nibh ultricies vehicula ut id elit7</h6>
        </div>
        <div class="Votes-b">
          <ul>
            <div class="spinnerSliderWrapper" style="display: none">
              <div class="spinnerSlider">
                <div class="bounceS1"></div>
                <div class="bounceS2"></div>
                <div class="bounceS3"></div>
              </div>
            </div>
            <li>
              <a href="#" class="vote">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:78%;background-color: #35c084"></div>
                  </div>
                  <div class="Votes-percent">78%</div>
                </div>
                <div class="Votes-variables">Mickey Mouse(with active class)</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:26%;background-color: #bbc035"></div>
                  </div>
                  <div class="Votes-percent">26%</div>
                </div>
                <div class="Votes-variables">Donald Duck</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:14%;background-color: #c08a35"></div>
                  </div>
                  <div class="Votes-percent">14%</div>
                </div>
                <div class="Votes-variables">Bugs Bunny</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="Votes-results">
                  <div class="Votes-percent-line-wrapp">
                    <div class="Votes-percent-line" style="width:8.2%;background-color: #35c0b8"></div>
                  </div>
                  <div class="Votes-percent">8.2%</div>
                </div>
                <div class="Votes-variables">Fred Flinstone</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <pre>
        Haml example cod
    </pre>
  <% content_for(:after_include_javascripts) do %>
    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function () {
            jQuery(".Votes-b a").click(function (e) {
                e.preventDefault();
                jQuery('.Votes-b').removeClass('didNotVote').addClass('votedIn');
                jQuery(this).find('.coloredDots').addClass('Voted')
            });
        });
  <% end %>
    </script>
</div>

<div class="styleguide-example">
  <h3 id="crop"> crop</h3>

  <div class="styleguide-element">
    <a class="btn-green btn-withIcon" href="#" onclick="initCrop();return false">INIT CROP</a>

    <div class="crop-images-wrapp">
      <div class="row">
        <div class="crop-images col-md-9">
          <img id="crop-img" src="http://lorempixel.com/1600/1200/sports/1/">
        </div>
        <div class="crop-images-previev col-md-3">
          <div class="docs-preview clearfix">
            <div class="img-preview preview-lg"></div>
          </div>
        </div>
      </div>
      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="zoom" data-option="0.1" title="Zoom In">
                <span class="docs-tooltip">
                  <span class="icon-zoom-in-1"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="zoom" data-option="-0.1" title="Zoom Out">
                <span class="docs-tooltip">
                  <span class="icon-zoom-out-1"></span>
                </span>
        </button>
      </div>

      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                <span class="docs-tooltip">
                  <span class="icon-left"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                <span class="docs-tooltip">
                  <span class="icon-right"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                <span class="docs-tooltip">
                  <span class="icon-up"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                <span class="docs-tooltip">
                  <span class="icon-down"></span>
                </span>
        </button>
      </div>

      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="rotate" data-option="-45" title="Rotate Left">
                <span class="docs-tooltip">
                  <span class="icon-ccw"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="rotate" data-option="45" title="Rotate Right">
                <span class="docs-tooltip">
                  <span class="icon-cw"></span>
                </span>
        </button>
      </div>

      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                <span class="docs-tooltip">
                  <span class="icon-resize-horizontal"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="scaleY" data-option="-1" title="Flip Vertical">
                <span class="docs-tooltip">
                  <span class="icon-resize-vertical"></span>
                </span>
        </button>
      </div>
      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-toggle="tooltip" data-method="reset" title="Reset">
                <span class="docs-tooltip">
                  <span class="icon-arrows-cw"></span>
                </span>
        </button>
        <label class="btn-white btn-blue-hover btn-upload" for="inputImage" data-toggle="tooltip" title="Upload image file">
          <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                <span class="docs-tooltip">
                  <span class="icon-download"></span>
                </span>
        </label>
        <!--<button type="button" class="btn-white btn-blue-hover" data-method="destroy" title="Destroy">-->
        <!--<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;destroy&quot;)">-->
        <!--<span class="icon-off"></span>-->
        <!--</span>-->
        <!--</button>-->
      </div>
      <div class="btn-group mr20">
        <button type="button" class="btn-white btn-blue-hover" data-method="crop" title="Crop">
                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;crop&quot;)">
                  <span class="VideoClientIcon-checkmark"></span>
                </span>
        </button>
        <button type="button" class="btn-white btn-blue-hover" data-method="clear" title="Clear">
                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;clear&quot;)">
                  <span class="GlobalIcon-clear"></span>
                </span>
        </button>
      </div>
    </div>
  </div>
    <pre>
        .crop-images-wrapp
          .row
            .crop-images.col-md-9
              %img#crop-img{src: "http://lorempixel.com/1600/1200/sports/1/"}/
            .crop-images-previev.col-md-3
              .docs-preview.clearfix
                .img-preview.preview-lg
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "zoom", "data-option" => "0.1", "data-toggle" => "tooltip", title: "Zoom In", type: "button"}
              %span.docs-tooltip
                %span.icon-zoom-in-1
            %button.btn-white.btn-blue-hover{"data-method" => "zoom", "data-option" => "-0.1", "data-toggle" => "tooltip", title: "Zoom Out", type: "button"}
              %span.docs-tooltip
                %span.icon-zoom-out-1
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "move", "data-option" => "-10", "data-second-option" => "0", "data-toggle" => "tooltip", title: "Move Left", type: "button"}
              %span.docs-tooltip
                %span.icon-left
            %button.btn-white.btn-blue-hover{"data-method" => "move", "data-option" => "10", "data-second-option" => "0", "data-toggle" => "tooltip", title: "Move Right", type: "button"}
              %span.docs-tooltip
                %span.icon-right
            %button.btn-white.btn-blue-hover{"data-method" => "move", "data-option" => "0", "data-second-option" => "-10", "data-toggle" => "tooltip", title: "Move Up", type: "button"}
              %span.docs-tooltip
                %span.icon-up
            %button.btn-white.btn-blue-hover{"data-method" => "move", "data-option" => "0", "data-second-option" => "10", "data-toggle" => "tooltip", title: "Move Down", type: "button"}
              %span.docs-tooltip
                %span.icon-down
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "rotate", "data-option" => "-45", "data-toggle" => "tooltip", title: "Rotate Left", type: "button"}
              %span.docs-tooltip
                %span.icon-ccw
            %button.btn-white.btn-blue-hover{"data-method" => "rotate", "data-option" => "45", "data-toggle" => "tooltip", title: "Rotate Right", type: "button"}
              %span.docs-tooltip
                %span.icon-cw
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "scaleX", "data-option" => "-1", "data-toggle" => "tooltip", title: "Flip Horizontal", type: "button"}
              %span.docs-tooltip
                %span.icon-resize-horizontal
            %button.btn-white.btn-blue-hover{"data-method" => "scaleY", "data-option" => "-1", "data-toggle" => "tooltip", title: "Flip Vertical", type: "button"}
              %span.docs-tooltip
                %span.icon-resize-vertical
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "reset", "data-toggle" => "tooltip", title: "Reset", type: "button"}
              %span.docs-tooltip
                %span.icon-arrows-cw
            %label.btn-white.btn-blue-hover.btn-upload{"data-toggle" => "tooltip", for: "inputImage", title: "Upload image file"}
              %input#inputImage.sr-only{accept: "image/*", name: "file", type: "file"}/
              %span.docs-tooltip
                %span.icon-download
          .btn-group.mr20
            %button.btn-white.btn-blue-hover{"data-method" => "crop", title: "Crop", type: "button"}
              %span.docs-tooltip{"data-toggle" => "tooltip", title: "$().cropper(\"crop\")"}
                %span.VideoClientIcon-checkmark
            %button.btn-white.btn-blue-hover{"data-method" => "clear", title: "Clear", type: "button"}
              %span.docs-tooltip{"data-toggle" => "tooltip", title: "$().cropper(\"clear\")"}
                %span.GlobalIcon-clear
    </pre>

</div>
<div class="styleguide-example">
  <%= render 'kss/icons' %>
</div>