
#configurationTabApplication
  %form
    .selectWrapp
      %label{:for => "configurationCamera"}
        Camera
        %select#videoSource.d-block.full-width{:name => "Camera"}
    .selectWrapp
      %label{:for => "configurationSpeaker"}
        Speaker
        %select#audioOutput.d-block.full-width{:name => "Speaker"}
    .selectWrapp
      %label{:for => "configurationMicrophone"}
        Microphone
        %select#audioSource.d-block.full-width{:name => "Microphone"}
