.poll {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  // max-width: 35rem;
  border: 1px solid rgb(183, 183, 183); // DEV
  margin: 2rem 0;
  background-color: white;

  &.dashboard {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__question {
    color: #343A40;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: calc(100% - 3rem);
    word-break: break-word;
  }

  &__stop {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  &__hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #E5E5E5;
  }

  &__option {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    margin-bottom: 2rem;
    word-break: break-word;

    .checkboxMK2 {
      width: 100%;
      // padding-left: 2.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 3rem;
    }

    &__answer {
      width: 100%;
      color: #151522;
      font-size: 1.4rem;
      font-weight: 400;
      padding-left: 0rem;

      display: flex;
      justify-content: space-between;

      &__resultForCreator {
        margin: 0 1rem;
        min-width: 5rem;
        text-align: right;
      }
    }
    &__result {
      color: #6F7073;
      // text-align: right;
      font-size: 1.4rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        min-width: 8rem;
        text-align: right;
      }
    }
  }

  &__progress {
    width: 100%;
    height: 0.6rem;
    position: relative;
    margin-top: 0.7rem;

    &__background {
      width: 100%;
      height: 100%;
      background-color: #E4E4E4;
      border-radius: 4rem;
    }
    &__bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #747474;
      border-radius: 4rem;
      transition: all .2s;

      &.userAnswer {
        background-color: #28BDB4;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__statistic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: #adb5bd;

    &__text {
      position: relative;
    }
    &__shape {
      background: #ececec;
      border-radius: 1rem;
      margin: 0 1rem;
      width: 0.4rem;
      height: 0.4rem;
      position: relative;
    }
  }

  .btn {
    // override monolith styles
    line-height: 2.85rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    font-size: 1.3rem !important;
    min-width: 12rem !important;
    min-height: 3rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 0 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.bannerCollaps .session #player-container #main_container_content .poll .container {
  padding-left: 3rem;
}


.poll .poll__option label.container {
  padding-left: 3rem;
}

.pollVisibilityMessage {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: #A6A6A6;
    font-size: 1.2rem;
  }
  &__title {
    color: #FFF;
    font-weight: 700;
  }
}

