.shareEmailModal {
  .MK2-modal {
    &__dialog {
      padding: 1.5rem 2rem;
      width: 74rem;
      max-width: 74rem;
      margin-bottom: 0;
      @include media(tablet) {
        width: 90%;
      }
    }

    &__body {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    font-size: 1.4rem;
    margin: 0 0 2rem;
  }

  &__message {
    display: flex;
    flex-direction: column;

    &__textarea {
      height: 14rem;
      width: 100%;
      border: none;
      border-bottom: 1px solid var(--border__separator);
    }
  }

  &__send {
    position: relative;
    text-align: right;
    margin: 0 auto;
    width: 74rem;
    z-index: 2;
    margin-top: 1rem;
    @include media(tablet) {
      width: 90%;
    }
  }
}