#blog-page, #post-page {
  width: 125rem;
  margin: 0 auto;
  max-width: 90%;

  @include media(desktop) {
    width: 100%;
  }
  @include media(tablet) {
    padding: 0 3rem;
    max-width: 100%;
  }
  @include media(phone) {
    padding: 0 1.5rem;
  }
}

#post-page {
  margin-top: 2rem;

  .cardMK2__post__body__description {
    color: var(--tp__main);

    a {
      color: var(--tp__active) !important;
      background: none !important;
    }

    span {
      color: var(--tp__main) !important;
      background: none !important;
      &.mention{
        background-color: var(--bg__label)!important;
      }
    }

    p:first-child {
      line-height: 2;
    }

    .mention {
      span {
        color: #FFF !important;
      }
    }
  }
}

.card-post {
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  background: var(--bg__content);
}

.linkModal .MK2-modal__dialog {
  min-width: 70rem;
  @include media(p-tablet) {
    min-width: 80%;
  }
}

.newPost {
  .btn {
    width: 18rem;
    line-height: 3.6rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    font-weight: bold;
    @include media(phone) {
      width: 13rem;
      font-size: 1.3rem;
      line-height: 2.6rem;
      padding: 0.1rem 0;
    }

    &.btn__full {
      width: 100%;
    }
  }

  &__settings {
    &__wrapper {
      padding: 0 3rem 3rem;

      @include media(phone) {
        padding: 0 1rem 3rem;
      }
    }

    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg__content__secondary);

    &__header {
      @include flex(flex, center, space-between);
      cursor: pointer;
    }

    &__body {
      display: flex;
      flex-direction: column;
    }

    &__title {
      color: var(--tp__main);
      font-size: 1.5rem;
    }

    &__prompt {
      padding-top: 1.5rem;
      color: var(--tp__secondary);
      font-size: 1.3rem;
    }

    &__checkbox {
      margin-top: 2rem;
    }

    &__arrow {
      &__active {
        transition: 0.2s ease;
        transform: rotate(-180deg);
      }
    }
  }

  &__form {
    padding: 3rem 0;
  }

  &__hidden {
    background: var(--bg__content__secondary);
    padding: 1rem;
    border-radius: .5rem;
    margin: 2rem;
  }

  &__info {
    background: var(--bg__content);
    @include boxShadow__main(var(--sh__main));
    border-radius: 1rem;
    margin-bottom: 3rem;

    .dropdownMK2__with-label {
      padding: 0 0 0.4rem;
    }

    @include media(phone) {
      padding: 0.5rem;
    }

    &__checkboxWrapper {
      margin-top: 3rem;
      text-align: right;

      .draft {
        padding: 0 0 0 3rem;
        color: #fff;
      }
    }

    &__select, &__input, &__checkbox {
      padding: 0 3rem;
      color: var(--tp__inputs__active);

      @include media(phone) {
        padding: 0 1rem;
      }

      .dropdownMK2__toggle, .checkboxMK2 {
        font-size: 1.6rem;
      }

      input[type=text] {
        font-size: 1.6rem;
      }
    }

    &__tags {
      padding: .5rem 3rem;

      @include media(phone) {
        padding: .5rem 1rem;
      }
    }
  }

  &__image {
    background: var(--bg__content);
    @include boxShadow__main(var(--sh__main));
    border-radius: 1rem;
    padding: 3rem;
    @include media(phone) {
      padding: 1.5rem;
    }

    &__control {
      color: var(--tp__icons);
      cursor: pointer;
      user-select: none;
      @include media(phone) {
        margin-bottom: 1.4rem;
      }

      &__icon {
        user-select: none;
        margin-left: 1rem;

        &__zoom {
          margin-right: 1rem;
        }

        &__bottom {
          // margin-top: 2rem;
          &.marginLeftLess {
            margin-left: 0;
          }

          &__last {
            margin-right: 2rem;
            @include media(phone) {
              margin-right: 2rem;
            }
          }
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 3rem;
      color: var(--tp__h3);
      @include media(phone) {
        margin-bottom: 1.5rem;
      }
    }

    &__cropWrapper {
      overflow: hidden;
      height: 0;
      padding-top: 50%;
      position: relative;
      background: var(--bg__content__secondary);
      border-radius: 1rem;
      @include flex(flex, center, center);
      margin-bottom: 3rem;
      @include media(phone) {
        margin-bottom: 1.4rem;
      }

      &__background {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &__cropper {
      position: absolute;
      top: 0;
      height: 100%;
    }

    &__dotted {
      @include media(phone) {
        padding: 2rem 1.8rem .7rem 1.8rem;
        top: calc(50% - 3.3rem);
      }
      position: absolute;
      top: calc(50% - 6.25rem);
      display: block;
      z-index: 9;
      position: absolute;
      background: var(--bg__content);
      border-radius: 1rem;
      padding: 2.5rem 3.65rem 2rem;
      color: var(--tp__main);
      text-align: center;
      font-weight: bold;

      &::before {
        @include media(phone) {
          left: -1.2rem;
          top: -1rem;
          width: calc(100% + 2.4rem);
          height: calc(100% + 2rem);
        }
        content: '';
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width: calc(100% + 3rem);
        height: calc(100% + 3rem);
        z-index: -1;
        border: 2px dashed var(--border__form__normal);
        border-radius: 2rem;
      }
    }

    &__drop {
      margin-bottom: 0;
      margin-top: 2rem;
      font-size: 1.4rem;
      @include media(phone) {
        margin-top: .3rem;
        font-size: 1.2rem;
      }
    }

    &__input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &__options {
      @include flex(flex, false, space-between);
      @include media(phone) {
        flex-direction: column-reverse;
      }
    }

    &__imgSize {
      color: var(--tp__secondary);
      font-size: 1.3rem;
      @include media(phone) {
        font-size: 1.2rem;
      }

      &__error {
        color: var(--tp__inputs__validation);
      }

      p {
        margin: 0 0 .8rem;
      }

      span {
        font-weight: bold;
      }
    }
  }

  &__buttons {
    @include flex(flex, center, flex-end);
    margin-top: 3rem;
    @include media(phone) {
      justify-content: space-between;
      padding: 2rem;
    }

    .btn {
      width: 13rem;
      @include media(phone) {
        width: 13.5rem;
        font-size: 1.4rem;
        line-height: 3.6rem;
      }
    }

    .btn__secondary {
      margin-right: 2rem;
    }
  }

  &__editor {
    margin-top: 2rem;
    padding: 0 3rem;
    color: var(--tp__main);

    @include media(phone) {
      padding: 0 1rem;
    }

    .ql-editor {
      @include media(phone) {
        padding: 0 0.5rem;
      }
    }
  }

  .ap {
    // emoji
    text-indent: 0;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    line-height: initial;
    margin-top: 0;
    display: initial;
  }

  .quillWrapper {
    max-width: 100rem;
    /* customization / fix for text color and background pasted from other sites */
    .ql-toolbar {
      .ql-stroke, .ql-picker-label {
        color: var(--tp__icons);
        stroke: var(--tp__icons);
      }

      .ql-fill {
        fill: var(--tp__icons);
      }

      button:hover {
        .ql-stroke, .ql-picker-label {
          color: var(--tp__active);
          stroke: var(--tp__active);
        }

        .ql-fill {
          fill: var(--tp__active);
        }
      }

      .ql-picker-options {
        border-color: var(--border__separator);
        background-color: var(--bg__content);
        color: var(--tp__secondary);
      }
    }

    .ql-snow .ql-tooltip {
      border-color: var(--border__tooltip);
      background-color: var(--bg__content);
      color: var(--tp__secondary);
      &.ql-editing{
        &.error{
          padding-bottom: 2rem;
          &::after{
            content: 'please enter a valid URL';
            color: red;
            position: absolute;
            left: 7.8rem;
            bottom: .3rem;
            font-size: 1.2rem;
          }
        }
      }
      &.error{
        &::after{
          content: 'please enter a valid URL';
          color: red;
          position: absolute;
          left: 13rem;
          bottom: .8rem;
          font-size: 1.2rem;
        }
      }


      input {
        border-color: var(--border__separator);
        color: var(--tp__secondary);
        background-color: var(--bg__content);
        &.error{
          border: 1px solid red;
        }
      }

      .ql-action {
        color: var(--tp__active);
        &.disabled{
          pointer-events: none;
          color: grey;
          opacity: 0.5;
        }
      }
    }

    .ql-editor {
      strong, span, em {
        color: var(--tp__main) !important;
        background-color: transparent !important;
      }

      a {
        background-color: transparent;
        color: var(--tp__active) !important;

        &:hover {
          color: var(--tp__active);
        }
      }

      img {
        object-fit: contain;
      }
    }

    /* ////////////// */
  }

  .ql-tooltip {
    left: 0 !important;

    &.ql-editing {
      display: block;
      flex-wrap: nowrap;
    }

    &:not(.ql-hidden):not(.ql-editing) {
      display: flex;
      flex-wrap: wrap;
    }

    &.ql-hidden {
      display: none !important;
    }

    @include media(p-phone) {
      .ql-action, .ql-remove {
        display: inline-block;
        width: 50%;
        text-align: left;
        color: var(--tp__active);

        &:after {
          border: none !important;
        }
      }
    }
  }

  #emoji-palette {
    @include media(p-phone) {
      left: 10% !important;
    }
  }

  .dropdownMK2__menu {
    top: 5.3rem;
  }

  .ql-editor {
    p {
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
    }

    ol, ul {
      font-size: 1.6rem;
    }
  }
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font span[data-value="roboto"]::before, .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

body .ap {
  text-indent: 0;
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  line-height: initial;
  margin-top: -.4rem;
  background-size: 0;
}

.spa-dashboard-blog-posts-new .dashboardMK2__main__content {
  .newPost {
    .checkboxMK2.draft {
      color: var(--tp__main);
    }
    .selectArrow.up{
      top: 30%;
    }
  }

  .editPostModal {
    .checkboxMK2.draft {
      color: #FFF;
    }
  }
}

.editPostModal .linkModal {
  .MK2-modal__dialog {
    @include media(phone) {
      padding: 1rem;
    }
  }
  .MK2-modal__body {
    @include media(phone) {
      padding-top: 4rem;
    }
  }
}

.newPost:not(.editPost) .newPost__editor .ql-editor .morphx__embed {
  padding-top: calc(56.25% + 52px) !important;
}