%script(type="text/x-handlebars" id="immerssReplayChatTmpl")
  != render 'widgets/replay_chat/main'

%script(type="text/x-handlebars" id="immerssReplayMessagesTmpl")
  != render 'widgets/replay_chat/messages'

%script(type="text/x-handlebars" id="immerssReplayMessageTmpl")
  != render 'widgets/replay_chat/message'
