<div class="gallery_item semitransparent_LoadingCover">
    <div class="text-right">
        <a class='remove_gallery_item' href="#">x</a>
    </div>
    <div class="Gallery-listImage" style="background-image: url('{{img_src}}')"></div>
    <input value="{{description}}" class="description" type="text" placeholder="Add a short photo description...">
    <div class="spinnerSlider hidden">
        <div class="bounceS1"></div>
        <div class="bounceS2"></div>
        <div class="bounceS3"></div>
    </div>
</div>
