<div class="hidden sc-body sc-body_Summary STATIC_DATA">
    <div class="sc-main_sections">
        <div class="sc-body_Summary_wrapp padding-left-20 padding-right-20">
            <div class="fs-24 text-center padding-right-30 padding-left-30 summary-title margin-bottom-40" >
                Session Summary
                <a href="#" class=" editSession">
                    <i class="VideoClientIcon-pencilF"></i>
                </a>
            </div>
            <div class="row">
                <div class="col-md-6 fs-20">
                    Who is going live?
                </div>
                <div class="col-md-6 text-right formColor-light">
                    presenter name
                    <span class="avatarImg-SD set_session_presenter" style="background-image: url('http://placekitten.com.s3.amazonaws.com/homepage-samples/96/139.jpg')"></span>
                </div>
            </div>
            <div class="row padding-top-10 formColor-light fs-13">
                <div class="col-md-6 ">
                    With Guests
                    <span class="margin-left-10 fs-10">10</span>
                </div>
                <div class="col-md-6 text-right">
                    free
                </div>
            </div>
            <div class="row formColor-light padding-top-10 fs-13">
                <div class="col-md-6">With Viewers</div>
                <div class="col-md-6 text-right">free </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">Channel</div>
                <div class="col-md-7 text-right fs-16">THAIS & STROE</div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-12">
                    Session Name
                    <div class="formColor-light">The art of creating sexyness</div>
                </div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-12">
                    Description
                    <div class="formColor-light">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper.</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">How are you going live?</div>
                <div class="col-md-6 text-right formColor-light">Interactive</div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-6">Duration</div>
                <div class="col-md-6 text-right formColor-light">30 Minutes</div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-6">Privacy</div>
                <div class="col-md-6 text-right formColor-light">Private</div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-6">Age</div>
                <div class="col-md-6 text-right formColor-light">18 +</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    When are you going live?
                </div>
            </div>
            <div class="row formColor-light padding-top-10">
                <div class="col-md-6">Date*</div>
                <div class="col-md-6 text-right">12 September 2016</div>
            </div>
            <div class="row formColor-light padding-top-10">
                <div class="col-md-6">Start Time*</div>
                <div class="col-md-6 text-right">12:00 PM</div>
            </div>
            <div class="row formColor-light padding-top-10">
                <div class="col-md-6">Preparation Time*</div>
                <div class="col-md-6 text-right">15 Minutes</div>
            </div>
            <div class="padding-top-40 text-center"><a href="#" class="btn btn-l">Confirm & Proceed</a></div>
        </div>
    </div>
</div>
