#invite-modal-portal.modal.fade{aria: {hidden: true, labelledby: 'myModalLabel'}, role: :dialog, tabindex: -1}
  .modal-dialog
    .modal-content
      #invite-modal-portal-body.modal-body

#InviteViewersAndCoHosts.modal.fade.InviteViewersAndCoHosts.modalWithNotification{aria: {hidden: true}, role: :dialog, tabindex: -1}
