%a.twitter-hashtag-button{href: "https://twitter.com/intent/tweet?button_hashtag=#{twitter_feed_title}"} Tweet ##{twitter_feed_title}
%a.twitter-timeline{href: twitter_feed_href, data: {theme: :dark, chrome: :transparent, 'widget-id': twitter_feed_widget_id}}
%script{async: '', src: '//platform.twitter.com/widgets.js', type: 'text/javascript', charset: 'utf-8'}
