%span.bold Zoom Video Communication
%br/
%br/
%span.display-block
  As Zoom is widely used and known to most of the users, we provide possibility to use Zoom as a streaming platform for our customers.
%span.display-block
  You may choose Zoom option when you create the interactive session.
%br/
%br/
%span.display-block
  %h3 To use Zoom for interactive conference sessions, you should:
%span.display-block
  * configure your Zoom account in Settings/Account Interface. Please consider that only paid Zoom accounts could be used;
%span.display-block
  * choose Zoom type of session in the session type selector.
%span.display-block.margin-bottom-20
  If you decide to disconnect your Zoom account from Unite platform, press 'Disconnect' button in Settings/Account.
%span.display-block
  %h3 Replays:
%span.display-block.margin-bottom-20
  After your session finished, Replay of your session will be created.
  To find your Replay, please open the Video tab in Dashboard,
  You will find your Replay in the Replays section.
%span.display-block
  %h3 Permissions:
%span.display-block.margin-bottom-20
  We use your Zoom Account billing information to ensure that you may use Zoom interactive session with no limitation and Replay of you session could be created.
%br/
%br/
%span.display-block
  If you have any questions please
  = link_to 'contact us', support_home_path, class: 'bold'
  any time.
