<tr class="first-header-line">
  <td width="100%">
    <div class="schedule-container schedule-header">
      <div class="schedule-inner-container" style="overflow: hidden !important">
        [% _.each([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23], function(i) { %]
          [% if(i < 10 ) { hour = "0" + i } else { hour = i } %]

          <div class="time-container">
            [% if (time_format == '12hour') { %]
              [%= military_hours_to_am_pm_hours(hour) %]:00 [%= am_pm_label(hour) %]
            [% } else { %]
              [%= hour %]:00
            [% } %]
          </div>

          <div class="time-container">
            [% if (time_format == '12hour') { %]
              [%= military_hours_to_am_pm_hours(hour) %]:30 [%= am_pm_label(hour) %]
            [% } else { %]
              [%= hour %]:30
            [% } %]
          </div>
        [% }) %]
        <div class="clearfix"></div>
      </div>
    </div>
  </td>
</tr>
<tr class="schedule-scroll-h-wrapper">
  <td>
    <div id="schedule-scroll-h">
      <div class="scroll">&nbsp;</div>
    </div>
  </td>
</tr>

<tr class="second-header-line">
  <!-- commented out because this won't happen any time soon
    [% if (collection.length > 5) { %]
      <div class="navig-up"></div>
    [% } %]
  -->
  <td width="100%">
    <div class="schedule-container schedule-header">
      <div class="navig-left"></div>
      <div class="navig-right"></div>
      <div class="schedule-inner-container">

        [% /* it is null for dates other than current day */ %]
        [% if (timeIndicatorLeftMarginPx) { %]
          <div class="time_indicator_end_point" style="left:[%= timeIndicatorLeftMarginPx - 1 %]px; "></div>
          <div class="time_indicator" style="left:[%= timeIndicatorLeftMarginPx %]px; "></div>
        [% } %]
        <div class="clearfix"></div>
      </div>
    </div>
  </td>
</tr>
