<!--<tr class="second-footer-line">-->
  <!--&lt;!&ndash; commented out because this won't happen any time soon-->
    <!--[% if (collection.length > 5) { %]-->
      <!--<div class="navig-down"></div>-->
    <!--[% } %]-->
  <!--&ndash;&gt;-->
  <!--<td width="100%">-->
    <!--<div class="schedule-container schedule-header" style="width: 100% !important">-->
      <!--<div class="schedule-inner-container">-->
        <!--[% /* it is null for dates other than current day */ %]-->
        <!--[% if (timeIndicatorLeftMarginPx) { %]-->
          <!--<div class="time_indicator_end_point" style="left:[%= timeIndicatorLeftMarginPx - 1 %]px; "></div>-->
          <!--<div class="time_indicator" style="left:[%= timeIndicatorLeftMarginPx %]px; "></div>-->
        <!--[% } %]-->
        <!--<div class="clearfix"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</td>-->
<!--</tr>-->
