<!--не используется-->
<p>
  <%= I18n.t('mailer.channel.invite_as_creator_body', company_url: (@channel.organization&.absolute_path || @inviter.absolute_path), company_name: (@channel.organization&.name || @inviter.full_name), channel_url: @channel.absolute_path, channel_name: @channel.title).html_safe %>
</p>

<p>
  <%= I18n.t('mailer.channel.invite_as_creator_link', url: @follow_link_url).html_safe %>
</p>

<p class="thank_you_message">
  <%= simple_format I18n.t('mailer.thank_you_message', service_name: Rails.application.credentials.global[:service_name]) %>
</p>
