<p>
  <%= @user.public_display_name %> has accepted your invitation to
  <a href="<%= @channel.absolute_path(UTM.build_params({utm_content: @user.utm_content_value})) %>"><%= @channel.title %>"</a>.
</p>
