<p>
  <%= @user.public_display_name %> has accepted your invitation to channel
  <a href="<%= @channel.absolute_path(UTM.build_params({utm_content: @user.utm_content_value})) %>"><%= @channel.always_present_title %>"</a>.
</p>
