<p>
  <%= @post.author.public_display_name %> has mentioned you in blog post:
</p>

<h2>
  <a href="<%= spa_organization_blog_post_url(id: @post.slug, organization_id: @post.organization.slug) %>"><%= @post.title %></a>
</h2>
<p>
  <%= @post.body_preview %>
</p>
