<% content_for(:title, "Access denied") %>

<div class="errorNumber">
  <h1>Oops<span></span><span></span><span></span></h1>
  <% if @exception_message == I18n.t(:"unauthorized.default", :default => "Oops") %>
    <p><%= @exception_message %></p>
  <% end %>
  <div class="erNum_1">Error code: 401</div>
  <a href="/" class="btn btn-m"> GO BACK</a>
</div>