<div class="gallery_tile" data-type="image" data-cid="{{cid}}">
    <img src="{{base64_img}}">
    <a href="#" class="remove_gallery_image">
        <i class="VideoClientIcon-cancel-solid"></i>
    </a>
</div>
