<div class="gallery_tile" data-type="link" data-cid="{{cid}}" style="height: 115px;">
    {{#if embedded}}
        {{{embedded}}}
    {{else}}
        <img src="{{img_src}}">
    {{/if}}
    <a href="#" class="remove_gallery_image">
        <i class="VideoClientIcon-cancel-solid"></i>
    </a>
</div>
