<div class="mainVideoSection">
    <div class="mainVideoSection-body scrollerInit">
        <div class="main-video-container draggableElement skrollable skrollable-before ui-draggable ui-draggable-handle"data-emit-events>
            <div class="responsive-video" style="background-image: url('https://assets.unite.live/uploads/development/channel_image/1/image/gallery_myyogaonline-wisdom-seal.jpg')"></div>
        </div>
        <div class="MVc-topLine">
            <div class="btnsBar">
                <div class="status">
                    <div class="offAir">
                        off air
                    </div>
                    <div class="hidden live">
                        live
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainVideoSection-content_block">
        <div class="MVc-topLine">
            <div class="btnsBar">
                <a data-remote="" href="/gurhard-martin/guitar/26-dec-17-00-gurhard-martin-live-session/preview_share" rel="nofollow" title="Share" style="visibility: visible;">
                    <i class="VideoClientIcon-share-mk4"></i>
                </a>
                <a class="add-to-wish-list-button  session-wishlist-105" data-method="post" data-remote="" href="/gurhard-martin/guitar/26-dec-17-00-gurhard-martin-live-session/toggle_wishlist_item"  style="visibility: visible;">
                    <i class="VideoClientIcon-bookmark"></i>
                </a>
                <div class="status">
                    <div class="offAir">
                        off air
                    </div>
                    <div class="hidden live">
                        live
                    </div>
                </div>
            </div>
        </div>
        <div class="MVc-AboutWrapp">
            <div class="MVc-About">
                <div class="MVc-AboutHead">About Stream</div>
                <div class="MVc-AboutBody">
                    <p class="margin-bottom-5"></p>
                    <p class="margin-bottom-5"></p>
                    <a class="hide_on_desktop ShowAboutText" href="#" style="display:none">
                        <span class="R_more">read more</span>
                        <span class="R_less" style="display:none">read less</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="MVc-centerLine">
            <div class="date text-center">
                <div class="date_block_left">
                    Live on <abbr class="datetime" data-iso8601="2018-12-26T17:00:00+02:00" data-format="MMM D h:mm A">Dec 26 5:00 PM</abbr>
                </div>
                <a style="visibility: visible;" title="Set reminder" data-remote="true" rel="nofollow" data-method="post" href="/sessions/gurhard-martin%2Fguitar%2F26-dec-17-00-gurhard-martin-live-session/toggle_remind_me"><i class="icon-bell-alt"></i>
                </a>
                <div class="date_block_right">
                    Session Duration 15 min
                </div>
            </div>
            <div class="LiveIn" data-seconds="{{start_at}}">
                <div class="LiveIn_title"></div>
                <div class="countWrapp">
                    <div class="count">
                        <span class="days-left">00</span>
                        <span class="hours-left">00</span>
                        <span class="minutes-left">00</span>
                        <span class="sec-left">00</span>
                    </div>
                    <div class="countI">
                        <span class="days-left">days</span>
                        <span class="hours-left">Hr</span>
                        <span class="minutes-left">Min</span>
                        <span class="sec-left">Sec</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pleaseWait-centerLine hide">
            <div class="pleaseWait-message text-center">
                Video is temporarily unavailable. Please wait
            </div>
        </div>
        <div class="MVc-bottomLine">
            <p>
                {{{i18n "sessions.show.player.livestream.purchased_label"}}}
                <!-- user can cancel participation -->
            </p>
        </div>
    </div>
    <div class="mainVideoSection-fleshMessage" style="display: none;">
        <div class="whiteBodyBox">
        </div>
        <div class="padding-top-20">
            <a class="btn btn-m" href="#">Yes</a>
            <a class="btn btn-m btn-lightGrey-solid btn-red-hover" href="#">cancel</a>
        </div>
    </div>
    <div class="mainVideoSection-fleshMessage" style="display: none;">
        <div class="whiteBodyBox"></div>
        <a class="mainVideoSection-fleshMessage-close">x</a>
    </div>
</div>
