@import "mixin";

//Styles for all modal window



//login social on modal MK2
.socialMK2{
  margin-top: -10px;
  a, .iconBlock{
    $buttonSize: 38px;

    height: $buttonSize;
    width: $buttonSize;
    margin: 0 0 0 3px;
    padding: 2px;
    vertical-align: middle;
    display: inline-block;
    span{
      width: 100%;
      height: 100%;
      display: inline-block;
      color: $siteColorMain;
      text-align: center;
      border-radius: 50px;
      line-height: $buttonSize + 1;
      opacity: 0.8;
      padding: 0 !important;
      &:hover{
        opacity: 1;
      }
      i{
        font-size: 15px;
        line-height: normal;
        color: #fff !important;
      }
    }
    &.ensure-link-style{
      background-color: $siteColorMain;
    }
    &[href*="facebook"], &.facebook{
      span{
        background-color: #3B5998 !important;
      }
    }
    &[href*="reddit"], &.reddit-share{
      span{
        background-color: #FF4500 !important;
      }
    }
    &[href*="tumblr"], &.tumblr-share{
      span{
        background-color: #314358 !important;
      }
    }
    &[href*="pinterest"], &.pinterest-share{
      span{
        background-color: #BD081C !important;
      }
    }
    &[href*="twitter"], &.twitter{
      span {
        background-color: #00ACEE !important;
      }
    }

    &[href*="gplus"], &[href*="google"], &[href*="plus."], &[href*="youtube"], &.gplus, &.youtube{
      span{
        background-color: #e44d46 !important;
        i.VideoClientIcon-google{
          font-size: 15px;
          line-height: 21px;
        }
      }
    }

    &[href*="linkedin"], &.linkedin{
      span{
        background-color: #007AB9 !important;
      }
    }
    &[href*="instagram"], &.instagram{
      span{
        position: relative;
        background: #ff3e60 ;
        overflow: hidden;
        vertical-align: top;

        i{
          font-size: 22px;
          line-height: 22px;
          position: relative;
        }
      }
    }
  }
}

div.modal-dialog {
  max-width:90%;
  width:740px;
  margin: 60px auto 0 !important;
  -webkit-overflow-scrolling : touch !important;
  .modal.modal-s &{
    max-width:90%;
    width:440px;
  }
  & > a[data-dismiss='modal']{
    margin-top: -2px !important;
    position: absolute ;
    top: -25px;
    right: 0;
    .VideoClientIcon-iPlus{
      transform: rotate(45deg);
      display: inline-block;
    }
  }
  hr:not(.full-width) {
    width: 40%;
  }
}
.modal-content{
  border-radius: 10px;
  -webkit-overflow-scrolling : touch !important;
  & > .closeModal{
    position: absolute;
    z-index: 1;
    top:5px;
    right: 5px;
    @include transition200();
    i{
      z-index: 2;
      transform: rotate(45deg);
      display: block;
      position: relative;
      color: var(--tp__icons);
      font-size: 18px;
      padding: 10px;
    }
    &:hover{
      transform:scale(1.2);
    }
  }
}
.loginOrSignUpModal{
  .closeModal{
    top:20px;
    right: 20px;
  }
}
div.modal-body {
  background:var(--bg__content);
  border-radius: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signup input[type="password"],
.form-signup input[type="text"],
.form-signup input[type="email"],
.restorePasswordForm[type="text"] {
  box-shadow: none !important;
  margin: 0;
  &::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
  }
  &:-moz-placeholder {
    color: #ccc;
    font-style: italic;
  }
  &::-moz-placeholder {
    color: #ccc;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
  }
}
.form-signup > div.account {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.formTextSize{
  font-size: 11px!important;
}
.form-signup{
  label{
    margin-bottom: 0;
    abbr{
      display: none !important ;
    }
  }
  .controls{
    .choice.radio{
      display: inline-block;
      vertical-align: middle;
      padding-left: 0;
      padding-right: 9px;
    }
  }
}
.form-signup .gender .radio, .form-signup .account .radio{
  font-weight: normal;
}
.form-signup .account{
  /*min-height: 76px; */
}
.form-signup .error input, .form-signup .error .customSelect, .form-signup .error .customSelect{
  border-bottom-color:$siteColorMainRed !important;
  color: $siteColorMainRed;
}

//.form-signup .help-inline{
//  color: #a94442;
//  display: block;
//  margin-bottom: 15px;
//  clear: both;
//}
// TODO: check if still need
//.form-signup .birth-width{
//  width: 100%;
//  height: 34px;
//  padding: 6px 12px;
//  font-size: 14px;
//  line-height: 1.428571429;
//  color: #555;
//  vertical-align: middle;
//  background-color: #fff;
//  border: 1px solid #ccc;
//  border-radius: 4px;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//}

.form-signup .birth-width{
  display: inline-block;
  width: 33%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;
  vertical-align: middle;
  background: transparent url(asset_path('brBg.png')) 94% 34% no-repeat;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  &:focus{
    background-color: rgba(255,255,255,0.03);
  }
  option {
    border:none;
    background-color: #fff;
    color: #555;
  }
  &::-ms-expand {
    display: none;
  }
}
span.customSelect {
  background: #fff url(asset_path("landingPage/signup_images/select_dropdown.png")) 93% center no-repeat;
}
.customSelectInner {
  width: 100% !important;
  text-align: center;
}

.form-signin + div > hr, .modal-social-block > hr, .soclogBlock > hr{
  border-top: 1px solid #ccc;
  margin-bottom: 0;
}
.form-signin + div > span:first-of-type, .modal-social-block > span:first-of-type, .soclogBlock > span:first-of-type{
  position: relative;
  top: -12px;
  left: 50%;
  background: var(--bg__content);
  padding: 0 10px;
  margin-left:-16px;
}
.form-signin + div > div, .modal-social-block > div, .soclogBlock > div{
  text-align: center;
}
div.social img{
  display: inline-block;
}
.soclogBlock{
  .col-sm-6{
    .col-xs-6{
      padding: 0;
    }
  }
}


.ResendConfirmationInstructions {
  input[type="email"] {
    width: 100%;
    &::-webkit-input-placeholder {
      color: #ccc;
    }
    &:-moz-placeholder {
      color: #ccc;
    }
    &::-moz-placeholder {
      color: #ccc;
    }
    &:-ms-input-placeholder {
      color: #ccc;
    }
  }
  button[type="submit"] {
    display: inline-block;
    margin-bottom: 15px;
    width: auto;
  }
}

//#RequestDifferentTimeModal {
//  div.modal-dialog{
//    width: 320px;
//  }
//  .mainButton{
//    width: 100%;
//    min-width: 100%;
//  }
//  .style-select {
//    float: none;
//    margin: 0;
//    width: auto !important;
//  }
//  .select2-container.styled-select {
//    width: 49%;
//  }
//  .col-md-6{
//    color: var(--tp__main);
//    font-size: 13px;
//  }
//  .buttonSwither{
//    width: 100%;
//  }
//  .radioWrapp{
//    padding: 20px 0 10px;
//    .col-md-6:first-child{
//      padding-left: 33px;
//    }
//    label{
//      padding-left: 0;
//    }
//  }
//  textarea{
//    height: 150px;
//    width: 100% !important;
//    min-width: 100%;
//    max-width: 100%;
//    padding: 10px;
//    border: 1px solid #E7E7E7;
//  }
//}

#PreviewInvitationInstructionsForReferredFriend{
  z-index: 99999;
  .modal-dialog{
    margin: 60px auto 0 !important;
    max-width: 710px;
    width: 710px;
  }
}

#sessionsModalGallery{
  &.modal.fade.in{
    #slideshow-1{
      position: relative;
      .owl-prev{
        opacity: 0.15;
        .disabled{
          opacity: 0.15!important;
          cursor: default !important;
        }
      }
    }
  }
  .carouselWrapp{
    height: 100%;
    #slideshow-1{
      height: calc(100% - 75px);
      .slideshow{
        overflow: hidden;
        div{
          height: 100%;
        }
      }
      .containSlide{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
      }
    }
    .owl-item{
      float: left;
    }
  }
  div.modal-dialog {
    height: 100%;
    margin: 0 auto !important;
    max-width: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: relative;
    top: 0;
    padding-bottom: 0;
  }
  .closeModal{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 18px;
    height: 18px;
    z-index:199;
    i{
      font-size: 25px;
    }
    img{
      display: block;
      width: 100%;
    }
  }
  .modal-content{
    height: 100%;
  }
  .modal-content, .modal-body{
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
  }
  .modal-body {
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
  .groupTitle{
    color: #fff;
    border-bottom: none;
  }
  div.modal-body .groupTitle a{
    width: 30px;
  }
  .owl-next, .owl-prev{
    background-color: rgba(255, 255, 255, 0.5);
    background-image: none;
    @include center(v);
    &:before{
      content: "\f105";
      @include center(v);
      left: 16px;
      font-size: 30px;
      color: $font-colorWhite;
      font-family: 'VideoClientIcon';
    }
  }
  .owl-prev{
    left: -20px;
    &:before{
      content: "\f104";
      left: 13px;
    }
  }
  .owl-next{
    right: -20px;
  }
}

#happy-end-modal{
  .modal-body{
    padding: 40px 50px;
  }
  .groupTitle{
    font-size: 23px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    font-weight: normal;
  }
}

.productGalleryModal{
  .modal-dialog{
    width: 440px;
  }
  .containSlide{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .slider-nav .slide div{

  }
}

#channel_cover_modal{
  .info-tabs, .tab-content{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .form_V2{
    padding-bottom: 0;
  }
  .modal-content{
    background: transparent;
    box-shadow: none;
    border:none;
  }
  .gallery_tile_list{
    font-size: 0;
    & > div:nth-child(2n + 2){
      margin-left: 6px;
    }
  }
  .gallery_tile{
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 6px;
    width: calc(50% - 3px);
    position: relative;
    overflow: hidden;
    img{
      display: block;
      width: 100%;
      height:110px ;
      object-fit: cover;
      @include transition200();
    }

    a.embed-link{
      font-size: 10px;
    }
    a.remove_gallery_image{
      position: absolute;
      opacity: 0;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include transition200();
      display: inline-block;
      i{
        color:#fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        font-size: 26px;
        display: inline-block;
      }
    }
    &:hover{
      a{
        opacity:1;
      }
      img{
        filter: grayscale(100%);
        transform: scale(1.1);
      }
    }
  }
  .add_tile{
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    input[type='file'] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .sugSize {
      span{
        font-weight: bold;
      }
    }
    & > label::before{
      content: '';
      position: absolute;
      left: -9px;
      top: -9px;
      width: calc(100% + 18px);
      height: calc(100% + 18px);
      border: 2px dashed #cccccc;
      border-radius: 20px;
    }
    label{
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
      vertical-align: top;
      background: var(--bg__main);
      height:90px;
      color: var(--tp__main);
      position: relative;
      width: 93%;
      font-size: 12px;
      padding-top: 10px;
      line-height: 15px;
      i{
        transform:rotate(45deg);
        font-size: 30px;
        color: #cccccc;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
  input{
    border-bottom: 1px solid var(--border__modals);
  }
}

#add_creator_modal{
  .modal-content{
    background: transparent;
    box-shadow: none ;
    border: none
  }
  .nav-tabs{
    li{
      width: 33.33%;
      text-align: center;
      a{
        margin-right: 0;
      }
    }
  }
}

.SeeAllTilesModal{
  h4.groupTitle{
    font-size: 24px;
  }
  [class^="tileInRow-"], [class*=" tileInRow-"] {
    @include clearfix();
    .tile-cake{
      display: block;
      float: left;
      margin: 30px 10px;
    }
    @include media(tablet){
      .tile-cake{
        width: calc(33.33% - 20px) !important;
      }
    }
    @include media(p-tablet){
      .tile-cake{
        width: calc(50% - 20px)!important;
      }
    }
    @include media(phone){
      .tile-cake{
        width: calc(100% - 20px)!important;
      }
    }
  }
  .tileInRow-3{
    .tile-cake{
      width: calc(33.33% - 20px);
    }
  }
  .tileInRow-4{
    .tile-cake{
      width: calc(25% - 20px);
    }
  }
  .tileInRow-5{
    .tile-cake{
      width: calc(20% - 20px);
    }
  }
  .tileInRow-6{
    .tile-cake{
      width: calc(16.666% - 20px);
    }
  }
}