- content_for(:page_title, 'Browsing History')
.row
  %aside.left-side-bar.col-md-3
    = render "dashboards/navigation/#{current_user.current_role}_nav"

  .col-md-9
    #ch-vue-app
      = content_tag 'comp-wrapper', nil, data: { component: 'history', props: {}}.to_json