.customizationOpen {
  padding-left: 40rem;
}

#customThemePanel {
  width: 40rem;
  height: calc(100vh - 7.3rem);
  padding: 2rem;
  position: fixed;
  left: 0rem;
  top: 7rem;
  z-index: 999999;
  overflow: auto;
  background-color: var(--bg__main);
  box-shadow: 0px 1px 4px var(--sh__main);

  h2 {
    margin-bottom: 5rem;
  }

  .accordion {
    text-transform: capitalize;
  }

  .theme {
    &__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__inputs {
      display: flex;
      align-items: center;
    }

    &__value {
      display: block;
      min-width: 6rem;
      margin-left: 1rem;
    }

    &__color {
      &__view {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
      }
    }

    &__save {
      margin: 1rem 1rem 3rem 1rem;
    }
  }
}