{{#unless _destroy}}
    <div>
        <div class="pull-left">
            <span>{{path}}</span>
        </div>
        <div class="pull-right">
            <a class="ensure-link-style preview" title="preview"><i class="icon-eye"></i></a>
            <a class="ensure-link-style remove" title="remove"><i class="VideoClientIcon-trash-emptyF"></i></a>
        </div>
        <div class="clear"></div>
    </div>

{{/unless}}
