<div id="overlappedSessions" class="modal fade" aria-hidden="true" aria-labelledby="overlappedSession" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <a class="closeModal" data-dismiss="modal">
                <i class="VideoClientIcon-iPlus"></i>
            </a>
            <div class="modal-body clearfix">
                <h4 class="groupTitle clearfix padding-right-30">
                    {{title}}
                </h4>
                <section>
                    <div class="sessions-container">
                        <div class="daterange-container clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="channels-container"></div>
                    </div>
                </section>
                <div class="pull-right clearfix">
                    <a class="btn btn-m save ensure-link-style">
                      <i class="icon-ok"></i>
                      Done
                    </a>
                    {{!--
                    <a class="btn btn-m ensure-link-style" data-dismiss="modal">
                      <i class="VideoClientIcon-cross"></i>
                      Cancel
                    </a>
                    --}}
                </div>

            </div>
        </div>
    </div>
</div>
