<form style="visibility: visible;">
	<fieldset class="inputs">
		<div class="custom-input string input required stringish control-group no-padding">
			<label class="control-laberl text-color-LightGrey" for="preview_purchase_email">
				<div class="text-color-Blue fs-12 padding-bottom-10">{{message_text}}</div>
				Email
				<abbr title="required">*</abbr>
			</label>
		</div>
		<div class="controls">
      <input class="w260 inlile-block" id="preview_purchase_email" required="required" type="text" value="{{email}}">
      <a class="submit btn btn-l text-color-white border-radius-0 ml20 inlile-block ensure-link-style">
        {{button_title}}
			</a>
		</div>
	</fieldset>
</form>
