<p>
  <%= @user.public_display_name %> has accepted your invitation to
  <a href="<%= @session.absolute_path(UTM.build_params({utm_content: @user.utm_content_value})) %>"><%= @session.always_present_title %>"</a>.
</p>
