<p class="greeting">
  <%= I18n.t('mailer.user_greetings', user: @user.first_name) %>
</p>

<p>
  <%= @follower.public_display_name %> added <a href="<%= @session.absolute_path %>"><%= @session.always_present_title %></a> to their wish list.
</p>
