/* connected accounts */
.notifications_list .notification_item, .feed_item {
  position: relative;
}

.p1_5 {
  padding: 15px 0;
}

.big_tabs .linked_list_item, .w1_5 {
  width: 155px;
}
.e_col {
  margin-right: 0;
}
.col, .e_col {
  float: left;
}

.profiles .has_icon {
  padding-left: 24px;
  display: block;
  height: 20px;
}

small.light_gray {
  display: block;
  margin-top: -3px;
  color: #333;
}

.e_col {
  margin-right: 0;
}
.col, .e_col {
  float: left;
}

.disconnect-btn {
  display: inline-block;
  margin: 0 0 0 15px;
}
