<p class="greeting">
  <%= I18n.t('mailer.user_greetings', user: @user.first_name) %>
</p>

<p>
  You are receiving this email because you were on the waiting list for: <a href="<%= @session.absolute_path(UTM.build_params({utm_content: @user.utm_content_value})) %>"><%= @session.always_present_title %></a>.
</p>

<p>
  There is a new time slot available for booking.
</p>
