<p>
  <a href="<%= @session.absolute_path %>">Your session</a> is currently under review.
</p>
<p>
  We will notify you about its status soon. Please note that your session is not visible to other users during the review process.
</p>
