.row
  %i.icon-spin1
  %i.icon-spin2
  %i.icon-spin3
  %i.icon-spin4
  %i.icon-spin5
  %i.icon-spin6
  %i.icon-emo-happy
  %i.icon-emo-unhappy
  %i.icon-glass
  %i.icon-music
  %i.icon-search
  %i.icon-mail
  %i.icon-mail-alt
  %i.icon-mail-squared
  %i.icon-heart
  %i.icon-heart-empty
  %i.icon-star
  %i.icon-star-empty
  %i.icon-star-half
  %i.icon-star-half-alt
  %i.icon-user
  %i.icon-users
  %i.icon-male
  %i.icon-female
  %i.icon-child
  %i.icon-video
  %i.icon-videocam
  %i.icon-picture
  %i.icon-camera
  %i.icon-camera-alt
  %i.icon-th-large
  %i.icon-th
  %i.icon-th-list
  %i.icon-ok
  %i.icon-ok-circled
  %i.icon-ok-circled2
  %i.icon-ok-squared
  %i.icon-cancel
  %i.icon-cancel-circled
  %i.icon-cancel-circled2
  %i.icon-plus
  %i.icon-plus-circled
  %i.icon-plus-squared
  %i.icon-plus-squared-alt
  %i.icon-minus
  %i.icon-minus-circled
  %i.icon-minus-squared
  %i.icon-minus-squared-alt
  %i.icon-help
  %i.icon-help-circled
  %i.icon-info-circled
  %i.icon-info
  %i.icon-home
  %i.icon-link
  %i.icon-unlink
  %i.icon-link-ext
  %i.icon-link-ext-alt
  %i.icon-attach
  %i.icon-lock
  %i.icon-lock-open
  %i.icon-lock-open-alt
  %i.icon-pin
  %i.icon-eye
  %i.icon-eye-off
  %i.icon-tag
  %i.icon-tags
  %i.icon-bookmark
  %i.icon-bookmark-empty
  %i.icon-flag
  %i.icon-flag-empty
  %i.icon-flag-checkered
  %i.icon-thumbs-up
  %i.icon-thumbs-down
  %i.icon-thumbs-up-alt
  %i.icon-thumbs-down-alt
  %i.icon-download
  %i.icon-upload
  %i.icon-download-cloud
  %i.icon-upload-cloud
  %i.icon-reply
  %i.icon-reply-all
  %i.icon-forward
  %i.icon-quote-left
  %i.icon-quote-right
  %i.icon-code
  %i.icon-export
  %i.icon-export-alt
  %i.icon-share
  %i.icon-share-squared
  %i.icon-pencil
  %i.icon-pencil-squared
  %i.icon-edit
  %i.icon-print
  %i.icon-retweet
  %i.icon-keyboard
  %i.icon-gamepad
  %i.icon-comment
  %i.icon-chat
  %i.icon-comment-empty
  %i.icon-chat-empty
  %i.icon-bell
  %i.icon-bell-alt
  %i.icon-attention-alt
  %i.icon-attention
  %i.icon-attention-circled
  %i.icon-location
  %i.icon-direction
  %i.icon-compass
  %i.icon-trash
  %i.icon-doc
  %i.icon-docs
  %i.icon-doc-text
  %i.icon-doc-inv
  %i.icon-doc-text-inv
  %i.icon-file-pdf
  %i.icon-file-word
  %i.icon-file-excel
  %i.icon-file-powerpoint
  %i.icon-file-image
  %i.icon-file-archive
  %i.icon-file-audio
  %i.icon-file-video
  %i.icon-file-code
  %i.icon-folder
  %i.icon-folder-open
  %i.icon-folder-empty
  %i.icon-folder-open-empty
  %i.icon-box
  %i.icon-rss
  %i.icon-rss-squared
  %i.icon-phone
  %i.icon-phone-squared
  %i.icon-fax
  %i.icon-menu
  %i.VideoClientIcon-settings
  %i.icon-cog-alt
  %i.icon-wrench
  %i.icon-sliders
  %i.icon-basket
  %i.icon-calendar
  %i.icon-calendar-empty
  %i.icon-login
  %i.icon-logout
  %i.icon-mic
  %i.icon-mute
  %i.icon-volume-off
  %i.icon-volume-down
  %i.icon-volume-up
  %i.icon-headphones
  %i.icon-clock
  %i.icon-lightbulb
  %i.icon-block
  %i.icon-resize-full
  %i.icon-resize-full-alt
  %i.icon-resize-small
  %i.icon-resize-vertical
  %i.icon-resize-horizontal
  %i.icon-move
  %i.icon-zoom-in
  %i.icon-zoom-out
  %i.icon-down-circled2
  %i.icon-up-circled2
  %i.icon-left-circled2
  %i.icon-right-circled2
  %i.icon-down-dir
  %i.icon-up-dir
  %i.icon-left-dir
  %i.icon-right-dir
  %i.icon-down-open
  %i.icon-left-open
  %i.icon-right-open
  %i.icon-up-open
  %i.icon-angle-left
  %i.icon-angle-right
  %i.icon-angle-up
  %i.icon-angle-down
  %i.icon-angle-circled-left
  %i.icon-angle-circled-right
  %i.icon-angle-circled-up
  %i.icon-angle-circled-down
  %i.icon-angle-double-left
  %i.icon-angle-double-right
  %i.icon-angle-double-up
  %i.icon-angle-double-down
  %i.icon-down
  %i.icon-left
  %i.icon-right
  %i.icon-up
  %i.icon-down-big
  %i.icon-left-big
  %i.icon-right-big
  %i.icon-up-big
  %i.icon-right-hand
  %i.icon-left-hand
  %i.icon-up-hand
  %i.icon-down-hand
  %i.icon-left-circled
  %i.icon-right-circled
  %i.icon-up-circled
  %i.icon-down-circled
  %i.icon-cw
  %i.icon-ccw
  %i.icon-arrows-cw
  %i.icon-level-up
  %i.icon-level-down
  %i.icon-shuffle
  %i.icon-exchange
  %i.icon-history
  %i.icon-expand
  %i.icon-collapse
  %i.icon-expand-right
  %i.icon-collapse-left
  %i.icon-play
  %i.icon-play-circled
  %i.icon-play-circled2
  %i.icon-stop
  %i.icon-pause
  %i.icon-to-end
  %i.icon-to-end-alt
  %i.icon-to-start
  %i.icon-to-start-alt
  %i.icon-fast-fw
  %i.icon-fast-bw
  %i.icon-eject
  %i.icon-target
  %i.icon-signal
  %i.icon-award
  %i.icon-desktop
  %i.icon-laptop
  %i.icon-tablet
  %i.icon-mobile
  %i.icon-inbox
  %i.icon-globe
  %i.icon-sun
  %i.icon-cloud
  %i.icon-flash
  %i.icon-moon
  %i.icon-umbrella
  %i.icon-flight
  %i.icon-fighter-jet
  %i.icon-paper-plane
  %i.icon-paper-plane-empty
  %i.icon-space-shuttle
  %i.icon-leaf
  %i.icon-font
  %i.icon-bold
  %i.icon-italic
  %i.icon-header
  %i.icon-paragraph
  %i.icon-text-height
  %i.icon-text-width
  %i.icon-align-left
  %i.icon-align-center
  %i.icon-align-right
  %i.icon-align-justify
  %i.icon-list
  %i.icon-indent-left
  %i.icon-indent-right
  %i.icon-list-bullet
  %i.icon-list-numbered
  %i.icon-strike
  %i.icon-underline
  %i.icon-superscript
  %i.icon-subscript
  %i.icon-table
  %i.icon-columns
  %i.icon-crop
  %i.icon-scissors
  %i.icon-paste
  %i.icon-briefcase
  %i.icon-suitcase
  %i.icon-ellipsis
  %i.icon-ellipsis-vert
  %i.icon-off
  %i.icon-road
  %i.icon-list-alt
  %i.icon-qrcode
  %i.icon-barcode
  %i.icon-book
  %i.icon-ajust
  %i.icon-tint
  %i.icon-check
  %i.icon-check-empty
  %i.icon-circle
  %i.icon-circle-empty
  %i.icon-circle-thin
  %i.icon-circle-notch
  %i.icon-dot-circled
  %i.icon-asterisk
  %i.icon-gift
  %i.icon-fire
  %i.icon-magnet
  %i.icon-chart-bar
  %i.icon-ticket
  %i.icon-credit-card
  %i.icon-floppy
  %i.icon-megaphone
  %i.icon-hdd
  %i.icon-key
  %i.icon-fork
  %i.icon-rocket
  %i.icon-bug
  %i.icon-certificate
  %i.icon-tasks
  %i.icon-filter
  %i.icon-beaker
  %i.icon-magic
  %i.icon-cab
  %i.icon-taxi
  %i.icon-truck
  %i.icon-money
  %i.icon-euro
  %i.icon-pound
  %i.icon-dollar
  %i.icon-rupee
  %i.icon-yen
  %i.icon-rouble
  %i.icon-try
  %i.icon-won
  %i.icon-bitcoin
  %i.icon-sort
  %i.icon-sort-down
  %i.icon-sort-up
  %i.icon-sort-alt-up
  %i.icon-sort-alt-down
  %i.icon-sort-name-up
  %i.icon-sort-name-down
  %i.icon-sort-number-up
  %i.icon-sort-number-down
  %i.icon-hammer
  %i.icon-gauge
  %i.icon-sitemap
  %i.icon-spinner
  %i.icon-coffee
  %i.icon-food
  %i.icon-beer
  %i.icon-user-md
  %i.icon-stethoscope
  %i.icon-ambulance
  %i.icon-medkit
  %i.icon-h-sigh
  %i.icon-hospital
  %i.icon-building
  %i.icon-building-filled
  %i.icon-bank
  %i.icon-smile
  %i.icon-frown
  %i.icon-meh
  %i.icon-anchor
  %i.icon-terminal
  %i.icon-eraser
  %i.icon-puzzle
  %i.icon-shield
  %i.icon-extinguisher
  %i.icon-bullseye
  %i.icon-wheelchair
  %i.icon-language
  %i.icon-graduation-cap
  %i.icon-paw
  %i.icon-spoon
  %i.icon-cube
  %i.icon-cubes
  %i.icon-recycle
  %i.icon-tree
  %i.icon-database
  %i.icon-lifebuoy
  %i.icon-rebel
  %i.icon-empire
  %i.icon-bomb
  %i.icon-adn
  %i.icon-android
  %i.icon-apple
  %i.icon-behance
  %i.icon-behance-squared
  %i.icon-bitbucket
  %i.icon-bitbucket-squared
  %i.icon-codeopen
  %i.icon-css3
  %i.icon-delicious
  %i.icon-deviantart
  %i.icon-digg
  %i.icon-dribbble
  %i.icon-dropbox
  %i.icon-drupal
  %i.icon-facebook
  %i.icon-facebook-squared
  %i.icon-flickr
  %i.icon-foursquare
  %i.icon-git-squared
  %i.icon-git
  %i.icon-github
  %i.icon-github-squared
  %i.icon-github-circled
  %i.icon-gittip
  %i.icon-google
  %i.icon-gplus
  %i.icon-gplus-squared
  %i.icon-hacker-news
  %i.icon-html5
  %i.icon-instagramm
  %i.icon-joomla
  %i.icon-jsfiddle
  %i.icon-linkedin-squared
  %i.icon-linux
  %i.icon-linkedin
  %i.icon-maxcdn
  %i.icon-openid
  %i.icon-pagelines
  %i.icon-pied-piper-squared
  %i.icon-pied-piper-alt
  %i.icon-pinterest-circled
  %i.icon-pinterest-squared
  %i.icon-qq
  %i.icon-reddit
  %i.icon-reddit-squared
  %i.icon-renren
  %i.icon-skype
  %i.icon-slack
  %i.icon-soundclowd
  %i.icon-spotify
  %i.icon-stackexchange
  %i.icon-stackoverflow
  %i.icon-steam
  %i.icon-steam-squared
  %i.icon-stumbleupon
  %i.icon-stumbleupon-circled
  %i.icon-tencent-weibo
  %i.icon-trello
  %i.icon-tumblr
  %i.icon-tumblr-squared
  %i.icon-twitter-squared
  %i.icon-twitter
  %i.icon-vimeo-squared
  %i.icon-vine
  %i.icon-vkontakte
  %i.icon-wechat
  %i.icon-weibo
  %i.icon-windows
  %i.icon-wordpress
  %i.icon-xing
  %i.icon-xing-squared
  %i.icon-youtube
  %i.icon-yahoo
  %i.icon-youtube-squared
  %i.icon-youtube-play
  %i.icon-blank
  %i.icon-lemon
  %i.icon-search-1
  %i.icon-mail-1
  %i.icon-heart-1
  %i.icon-star-1
  %i.icon-user-1
  %i.icon-user-woman
  %i.icon-user-pair
  %i.icon-video-alt
  %i.icon-videocam-1
  %i.icon-videocam-alt
  %i.icon-camera-1
  %i.icon-th-1
  %i.icon-th-list-1
  %i.icon-ok-1
  %i.icon-cancel-1
  %i.icon-cancel-circle
  %i.icon-plus-1
  %i.icon-home-1
  %i.icon-lock-1
  %i.icon-lock-open-1
  %i.icon-eye-1
  %i.icon-tag-1
  %i.icon-thumbs-up-1
  %i.icon-thumbs-down-1
  %i.icon-download-1
  %i.icon-export-1
  %i.icon-pencil-1
  %i.icon-pencil-alt
  %i.icon-edit-1
  %i.icon-chat-1
  %i.icon-print-1
  %i.icon-bell-1
  %i.icon-attention-1
  %i.icon-info-1
  %i.icon-question
  %i.icon-location-1
  %i.icon-trash-1
  %i.icon-doc-1
  %i.icon-article
  %i.icon-article-alt
  %i.icon-rss-1
  %i.icon-wrench-1
  %i.icon-basket-1
  %i.icon-basket-alt
  %i.icon-calendar-1
  %i.icon-calendar-alt
  %i.icon-volume-off-1
  %i.icon-volume-down-1
  %i.icon-volume-up-1
  %i.icon-bullhorn
  %i.icon-clock-1
  %i.icon-clock-alt
  %i.icon-stop-1
  %i.icon-resize-full-1
  %i.icon-resize-small-1
  %i.icon-zoom-in-1
  %i.icon-zoom-out-1
  %i.icon-popup
  %i.icon-down-dir-1
  %i.icon-left-dir-1
  %i.icon-right-dir-1
  %i.icon-up-dir-1
  %i.icon-down-1
  %i.icon-up-1
  %i.icon-cw-1
  %i.icon-signal-1
  %i.icon-award-1
  %i.icon-mobile-1
  %i.icon-mobile-alt
  %i.icon-tablet-1
  %i.icon-ipod
  %i.icon-cd
  %i.icon-grid
  %i.icon-book-1
  %i.icon-easel
  %i.icon-globe-1
  %i.icon-chart
  %i.icon-chart-bar-1
  %i.icon-chart-pie
  %i.icon-dollar-1
  %i.icon-at
  %i.icon-colon
  %i.icon-semicolon
  %i.icon-squares
  %i.icon-money-1
  %i.icon-facebook-1
  %i.icon-facebook-rect
  %i.icon-twitter-1
  %i.icon-twitter-bird
  %i.icon-twitter-rect
  %i.icon-youtube-1
  %i.icon-duckduckgo
  %i.icon-aim
  %i.icon-delicious-1
  %i.icon-paypal
  %i.icon-flattr
  %i.icon-android-1
  %i.icon-eventful
  %i.icon-smashmag
  %i.icon-gplus-1
  %i.icon-wikipedia
  %i.icon-lanyrd
  %i.icon-calendar-2
  %i.icon-stumbleupon-1
  %i.icon-fivehundredpx
  %i.icon-pinterest
  %i.icon-bitcoin-1
  %i.icon-w3c
  %i.icon-foursquare-1
  %i.icon-html5-1
  %i.icon-ie
  %i.icon-call
  %i.icon-grooveshark
  %i.icon-ninetyninedesigns
  %i.icon-forrst
  %i.icon-digg-1
  %i.icon-spotify-1
  %i.icon-reddit-1
  %i.icon-guest
  %i.icon-gowalla
  %i.icon-appstore
  %i.icon-blogger
  %i.icon-cc
  %i.icon-dribbble-1
  %i.icon-evernote
  %i.icon-flickr-1
  %i.icon-google-1
  %i.icon-viadeo
  %i.icon-instapaper
  %i.icon-weibo-1
  %i.icon-klout
  %i.icon-linkedin-1
  %i.icon-meetup
  %i.icon-vk
  %i.icon-plancast
  %i.icon-disqus
  %i.icon-rss-2
  %i.icon-skype-1
  %i.icon-twitter-2
  %i.icon-youtube-2
  %i.icon-vimeo
  %i.icon-windows-1
  %i.icon-xing-1
  %i.icon-yahoo-1
  %i.icon-chrome
  %i.icon-email
  %i.icon-macstore
  %i.icon-myspace
  %i.icon-podcast
  %i.icon-amazon
  %i.icon-steam-1
  %i.icon-cloudapp
  %i.icon-dropbox-1
  %i.icon-ebay
  %i.icon-facebook-2
  %i.icon-github-1
  %i.icon-github-circled-1
  %i.icon-googleplay
  %i.icon-itunes
  %i.icon-plurk
  %i.icon-songkick
  %i.icon-lastfm
  %i.icon-gmail
  %i.icon-pinboard
  %i.icon-openid-1
  %i.icon-quora
  %i.icon-soundcloud
  %i.icon-tumblr-1
  %i.icon-eventasaurus
  %i.icon-wordpress-1
  %i.icon-yelp
  %i.icon-intensedebate
  %i.icon-eventbrite
  %i.icon-scribd
  %i.icon-posterous
  %i.icon-stripe
  %i.icon-opentable
  %i.icon-cart
  %i.icon-print-2
  %i.icon-angellist
  %i.icon-instagram
  %i.icon-dwolla
  %i.icon-appnet
  %i.icon-statusnet
  %i.icon-acrobat
  %i.icon-drupal-1
  %i.icon-buffer
  %i.icon-pocket
  %i.icon-bitbucket-1
  %i.icon-lego
  %i.icon-login-1
  %i.icon-stackoverflow-1
  %i.icon-hackernews
  %i.icon-lkdto
  %i.icon-glyph
  %i.icon-glyph-1
  %i.icon-glyph-2
  %i.icon-glyph-3
  %i.icon-glyph-4
  %i.icon-glyph-5
  %i.icon-glyph-6
  %i.icon-glyph-7
  %i.icon-glyph-8
.row
  .VideoClientIcon-megaphone
  .VideoClientIcon-speaking2
  .VideoClientIcon-cancel-solid
  .VideoClientIcon-check-solid
  .VideoClientIcon-settings
  .VideoClientIcon-user-mk2
  .VideoClientIcon-calendar-mk2
  .VideoClientIcon-users
  .VideoClientIcon-coin-2
  .VideoClientIcon-add-participant
  .VideoClientIcon-dollar-currency-symbol
  .VideoClientIcon-manage-participants
  .VideoClientIcon-minimize
  .VideoClientIcon-monitor
  .VideoClientIcon-push-pin-mk2
  .VideoClientIcon-shopping-cart
  .VideoClientIcon-web-mk2
  .VideoClientIcon-group3
  .VideoClientIcon-dot-and-circle
  .VideoClientIcon-expand2
  .VideoClientIcon-hand-showing-palm-outline
  .VideoClientIcon-headset
  .VideoClientIcon-high-five
  .VideoClientIcon-log-out
  .VideoClientIcon-movie-player-play-button
  .VideoClientIcon-network-cam
  .VideoClientIcon-pause-button
  .VideoClientIcon-share2
  .VideoClientIcon-three-quarters-of-an-hour
  .VideoClientIcon-three-users
  .VideoClientIcon-unlock2
  .VideoClientIcon-classic-calendar-view
  .VideoClientIcon-follower
  .VideoClientIcon-following
  .VideoClientIcon-placeholder-filled-point
  .VideoClientIcon-speaking
  .VideoClientIcon-navigate-up-arrow
  .VideoClientIcon-navigate-down-arrow
  .VideoClientIcon-clockwise-rotating-circular-arrow
  .VideoClientIcon-clockwise-rotating-circular-arrow2
  .VideoClientIcon-remove
  .VideoClientIcon-layout1
  .VideoClientIcon-layout2
  .VideoClientIcon-layout3
  .VideoClientIcon-layout4
  .VideoClientIcon-lecture2
  .VideoClientIcon-microphone
  .VideoClientIcon-sound
  .VideoClientIcon-video
  .VideoClientIcon-addparticipant
  .VideoClientIcon-manageparticipants
  .VideoClientIcon-minimize2
  .VideoClientIcon-unlock
  .VideoClientIcon-add
  .VideoClientIcon-facebook_2
  .VideoClientIcon-google_2
  .VideoClientIcon-linkedin_2
  .VideoClientIcon-message
  .VideoClientIcon-share
  .VideoClientIcon-tumblr_2
  .VideoClientIcon-twitter_2
  .VideoClientIcon-web
  .VideoClientIcon-stopwatch
  .VideoClientIcon-stanchios
  .VideoClientIcon-stopwatch2
  .VideoClientIcon-donation
  .VideoClientIcon-downloading
  .VideoClientIcon-expand
  .VideoClientIcon-lock
  .VideoClientIcon-multiplescreens
  .VideoClientIcon-pollstatistics
  .VideoClientIcon-signalbars
  .VideoClientIcon-speechbubble
  .VideoClientIcon-tool
  .VideoClientIcon-twitter
  .VideoClientIcon-add73
  .VideoClientIcon-email131
  .VideoClientIcon-loving1
  .VideoClientIcon-share57
  .VideoClientIcon-LiveStream_3
  .VideoClientIcon-LiveStream
  .VideoClientIcon-LiveStream_2
  .VideoClientIcon-human
  .VideoClientIcon-clock
  .VideoClientIcon-key
  .VideoClientIcon-play-button2
  .VideoClientIcon-system
  .VideoClientIcon-exitFullscrean
  .VideoClientIcon-exit
  .VideoClientIcon-stop
  .VideoClientIcon-group
  .VideoClientIcon-lecture
  .VideoClientIcon-warning
  .VideoClientIcon-notification
  .VideoClientIcon-question
  .VideoClientIcon-plus
  .VideoClientIcon-minus
  .VideoClientIcon-cross
  .VideoClientIcon-checkmark
  .VideoClientIcon-play3
  .VideoClientIcon-pause2
  .VideoClientIcon-stop2
  .VideoClientIcon-mail4
  .VideoClientIcon-google
  .VideoClientIcon-google3
  .VideoClientIcon-google-plus
  .VideoClientIcon-google-plus3
  .VideoClientIcon-hangouts
  .VideoClientIcon-google-drive
  .VideoClientIcon-facebook
  .VideoClientIcon-facebook2
  .VideoClientIcon-instagram
  .VideoClientIcon-whatsapp
  .VideoClientIcon-telegram
  .VideoClientIcon-twitter2
  .VideoClientIcon-rss2
  .VideoClientIcon-youtube
  .VideoClientIcon-youtube2
  .VideoClientIcon-twitch
  .VideoClientIcon-vimeo
  .VideoClientIcon-vimeo2
  .VideoClientIcon-dropbox
  .VideoClientIcon-appleinc
  .VideoClientIcon-android
  .VideoClientIcon-calendar-MK2
  .VideoClientIcon-restore
  .VideoClientIcon-Googleplus
  .VideoClientIcon-Linkedin
  .VideoClientIcon-Twitter
  .VideoClientIcon-Facebook
  .VideoClientIcon-Notifications
  .VideoClientIcon-Messages
  .VideoClientIcon-dashboard
  .VideoClientIcon-Edit
  .VideoClientIcon-Favorites
  .VideoClientIcon-iPlus
  .VideoClientIcon-People
  .VideoClientIcon-Ratings
  .VideoClientIcon-Search
  .VideoClientIcon-Share
  .VideoClientIcon-Views
  .VideoClientIcon-q6
  .VideoClientIcon-q5
  .VideoClientIcon-q4
  .VideoClientIcon-q2
  .VideoClientIcon-q1
  .VideoClientIcon-glyph
  .VideoClientIcon-glyph-2
  .VideoClientIcon-glyph-3
  .VideoClientIcon-glyph-4
  .VideoClientIcon-glyph-5
  .VideoClientIcon-glyph-6
  .VideoClientIcon-glyph-7
  .VideoClientIcon-glyph-8