<div class="filterActionsWrapp">
    <!-- filter actions goes here -->
</div>
<div class="actionsArea">
  <div class="display-flex">
    <label class="choice checkbox">
      <input type="checkbox" class="select_all"/>
      <span>Select all</span>
    </label>
  </div>
  <div class="groupActionsArea">
    <!-- group actions goes here -->
  </div>
</div>
<div class="emptyResults" style="display: none;">
    There are no replays on the channel
</div>
<div class="tileWrapp {{#if (eq grid_style 'grid')}}threeTilesInRow{{else}}tileInList{{/if}}">
    <!-- replays goes here -->
</div>
<nav class="text-center show-more-container">
</nav>
