@import "mixin";
.footer{
  text-align: center;
  background: transparent;
  @include media(tablet){
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  }
  i{
    display: block;
  }
  &__top{
    padding: 2rem 1.5rem;
    @include media(reverso-tablet){
      @include flex(flex, center, space-between);
    }
    &__navigation{
      @include media(p-phone-p-tablet){
        @include flex(flex, center, center);
        flex-wrap: wrap;
      }
    }
    img{
      max-height: 3rem;
      max-width: 14.5rem;
      @include media(tablet){
        margin-bottom: 2rem;
      }
      @include media(reverso-p-phone){
        max-height: 3rem;
      }
    }
    a{
      padding: .75rem ;
      font-weight: bold;
      font-size: 1.4rem;
      color: var(--tp__secondary);
      @include media(reverso-tablet){
        margin-left: 6rem;
        font-size: 1.5rem;
      }
      @include media(p-phone){
        display: block;
      }
    }
  }
  &__bottom{
    padding: 2rem 1.5rem;
    border-top: 1px solid var(--border__separator);
    span, span a{
      font-size: 1.4rem;
      color: var(--tp__secondary);
    }
    @include media(reverso-tablet){
      @include flex(flex, false, space-between);
    }
    @include media(reverso-p-phone){
      div{
        display: inline-block;
      }
      .termsAndPrivacy{
        margin-left: 4rem;
      }
    }
    nav{
      @include flex(flex, center, center);
      a{
        display: block;
        padding: .3rem;
        margin-left: 2rem;
        @include media(tablet){
          margin: 1rem 2rem;
        }
      }
    }
  }
}
/* стили для фиксов дрифта и липкого меню подтверждения почты*/
.fixed{
  .drift-frame-controller{
    bottom: 60px!important;
  }
  .drift-frame-chat:not(iframe).drift-chat-open{
    transform: translateY(-40px)!important;
  }
}