.info-tabs
  %ul.nav.nav-tabs.nav-justified
    %li{class: has_active_class([dashboard_path, edit_contacts_dashboard_path])}
      %a{href: edit_contacts_dashboard_path} Contacts
    - if current_user.has_owned_channels?
      %li{class: has_active_class([dashboard_path, dashboard_mailing_index_path])}
        %a{href: dashboard_mailing_index_path} Mailing
    - else
      %li{class: 'disable', title: 'Available only for creators'}
        %a{href: dashboard_mailing_index_path} Mailing
        %div.blockForPhone
          = I18n.t('views.dashboards.navigation.contacts_and_mailing_tabs.only_for_creators', creators: I18n.t('dictionary.creators'))