<h1 class="heading">
    Files
    <a class="ensure-link-style close-player">
        <i class="GlobalIcon-clear"></i>
    </a>
</h1>
<div class="DwnDr">
    <ul class="media-list">

    </ul>
    <div class="MediaBoxWrapper">

    </div>
</div>
