<i class="{{mediaIcon}}"></i>

<p>
    <a class="ensure-link-style" class="play-media">{{name}}</a>
</p>
{{#if can_download}}
    <a class="pull-right icon-download" href="{{downloadUrl}}" target="_blank" download></a>
{{/if}}
