%script(type="text/x-handlebars" id="immerssChatTmpl")
  != render 'widgets/webrtcservice/main'

%script(type="text/x-handlebars" id="immerssChatAuthTmpl")
  != render 'widgets/webrtcservice/auth'

%script(type="text/x-handlebars" id="immerssMessagesTmpl")
  != render 'widgets/webrtcservice/messages'

%script(type="text/x-handlebars" id="immerssMessageTmpl")
  != render 'widgets/webrtcservice/message'
