<div data-email="{{email}}" class="contactList-item clearfix {{#if invited}} active {{/if}}">
    <div class="row">
        <div class="col-md-12 text-ellipsis">
            <div class="avatarImg-SD" style="background-image: url('{{avatar_url}}')"></div>
            {{display_name}} ({{email}})
        </div>
    </div>
</div>
