<ol id="file_panel" data-filename="{{filename}}">
    <a class="vote" href="" onclick="return false;">
        <div class="Votes-results" id="file_score">
            <div class="Votes-percent-line-wrapp">
                <div class="Votes-percent-line" style="width:0%;background-color: #10b0e6"></div>
            </div>
            <div class="Votes-percent">
                <div class="LoadingCover">
                    <div class="spinnerSlider">
                        <div class="bounceS1"></div>
                        <div class="bounceS2"></div>
                        <div class="bounceS3"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="Votes-variables">{{filename}}</div>
    </a>
</ol>
