$embed_fontmail: "\e904";
$embed_fontshare-mk4: "\e93f";
$embed_fontuser-mk2: "\e958";
$embed_fontcalendar-mk2: "\e959";
$embed_fontgoogle: "\ea8b";
$embed_fontfacebook: "\ea91";
$embed_fonttwitter: "\ea97";
$embed_fontsend: "\e902";
$embed_fonthappy-filled-face: "\e900";
$embed_fontquestion-1: "\e901";
$embed_fontheart: "\e80e";
$embed_fontheart-empty: "\e80f";
$embed_fontstar: "\e810";
$embed_fontstar-empty: "\e811";
$embed_fontstar-half-alt: "\e813";
$embed_fonteye-1: "\e9d3";
$embed_fontiPlus: "\e609";
$embed_fontshare57: "\e903";
$embed_fontnavigate-up-arrow: "\e92f";
$embed_fontdollar-currency-symbol: "\e94d";
$embed_fonttumblr: "\eab9";
$embed_fontreddit: "\eac6";
$embed_fontlinkedin: "\eaca";
$embed_fontpinterest: "\ead2";
$embed_fontbookmark: "\e9d2";
