- content_for(:page_title, 'Community')
.row
  %aside.col-md-3.left-side-bar
    = render "dashboards/navigation/#{current_user.current_role}_nav"
  .col-md-9
    = render 'dashboards/navigation/blog_tabs'

  .col-md-9
    #ch-vue-app
      = content_tag 'comp-wrapper', nil, data: { component: 'ManagePost', props: {}}.to_json